<div id="player-container">
    <img id="emblem" src="{{record.emblem}}">
    <h6>{{gt}}</h6>
</div>
<div id="service-container">
    <h6>{{highest_rank}}</h6>
    <img id="rank" src="{{concat 'base_url' '/templates/bundle/assets/ranks/' (calcRank highest_rank record.season.wins) '.png'}}" />
</div>
