<div class="population-container">
    <b style="color: #00ff66;font-size: 16px;">Xbox Population:</b> <span style="margin: 0 18px">{{numCommaFormat xbox}} online</span>
</div>

<div class="population-container">
    <b style="color: #00ff66;font-size: 16px;">Steam Population:</b> <span style="margin: 0 10px">{{numCommaFormat pc.player_count}} online</span>
</div>

<div class="population-container">
    <b style="color: #00ff66;font-size: 16px;">Total Population:</b> <span style="margin: 0 22px">{{math pc.player_count "+" xbox true}} online</span>
</div>