<!--https://api.steampowered.com/ISteamUserStats/GetNumberOfCurrentPlayers/v1/?appid=976730-->

<b style="color: #00ff66;font-size: 16px;">Steam Population:</b> <span style="margin: 0 10px">{{numCommaFormat player_count}} online</span>