<div id="leaderboard-container">
    <div class="leaderboard-section">
        <h2 id="record-title">Service Record</h2>
        <nav>
            <div><a href="/leaderboards/donations"><i style="color: gold" class="fas fa-dollar-sign"></i> Donators</a></div>
            <div><a href="/leaderboards/most-50s">Most 50s</a> <span class="platform"><a class="steam-icon" href="/leaderboards/pc/most-50s">PC</a> | <a class="xbox-icon" href="/leaderboards/xbox/most-50s">Xbox</a></span></div>
            <div><a href="/leaderboards/s1/playtime">Playtime</a> <span class="platform"><a class="steam-icon" href="/leaderboards/playtime">All</a> | <a class="xbox-icon" href="/leaderboards/s1/playtime">S1</a></span></div>
            <div><a href="/leaderboards/s1/kills">Kills</a> <span class="platform"><a class="steam-icon" href="/leaderboards/kills">All</a> | <a class="xbox-icon" href="/leaderboards/s1/kills">S1</a></span></div>
            <div><a href="/leaderboards/s1/deaths">Deaths</a> <span class="platform"><a class="steam-icon" href="/leaderboards/deaths">All</a> | <a class="xbox-icon" href="/leaderboards/s1/deaths">S1</a></span></div>
            <div><a href="/leaderboards/s1/wins">Wins</a> <span class="platform"><a class="steam-icon" href="/leaderboards/wins">All</a> | <a class="xbox-icon" href="/leaderboards/s1/wins">S1</a></span></div>
            <div><a href="/leaderboards/s1/losses">Losses</a> <span class="platform"><a class="steam-icon" href="/leaderboards/losses">All</a> | <a class="xbox-icon" href="/leaderboards/s1/losses">S1</a></span></div>
            <div><a href="/leaderboards/s1/matches">Matches</a> <span class="platform"><a class="steam-icon" href="/leaderboards/matches">All</a> | <a class="xbox-icon" href="/leaderboards/s1/matches">S1</a></span></div>
            <div><a href="/leaderboards/s1/wl">W/L Ratio</a> <span class="platform"><a class="steam-icon" href="/leaderboards/wl">All</a> | <a class="xbox-icon" href="/leaderboards/s1/wl">S1</a></span></div>
            <div><a href="/leaderboards/s1/kd">K/D Ratio</a> <span class="platform"><a class="steam-icon" href="/leaderboards/kd">All</a> | <a class="xbox-icon" href="/leaderboards/s1/kd">S1</a></span></div>
        </nav>
    </div>

    <div class="leaderboard-section">
        <h2>Playlist</h2>
        <nav>
            <div><a href="/leaderboards/mccs">S1 MCC Score</a></div>
            <div><a href="/leaderboards/hce-hardcore-doubles">Halo 1: Hardcore Doubles</a> <span class="platform"><a class="steam-icon" href="/leaderboards/pc/hce-hardcore-doubles">PC</a> | <a class="xbox-icon" href="/leaderboards/hce-hardcore-doubles">Xbox</a></span></div>
            <div><a href="/leaderboards/h2c-team-hardcore">Halo 2 Classic: Team Hardcore</a></div>
            <div><a href="/leaderboards/h3-team-slayer">Halo 3: Team Slayer</a></div>
            <div><a href="/leaderboards/h3-team-hardcore">Halo 3: Team Hardcore</a></div>
            <div><a href="/leaderboards/h3-team-doubles">Halo 3: Team Doubles</a></div>
            <div><a href="/leaderboards/ms-2v2-series">Halo 3: MS 2v2 Series</a></div>
            <div><a href="/leaderboards/halo-reach-team-hardcore">Reach: Team Hardcore</a> <span class="platform"><a class="steam-icon" href="/leaderboards/pc/halo-reach-team-hardcore">PC</a> | <a class="xbox-icon" href="/leaderboards/halo-reach-team-hardcore">Xbox</a></span></div>
            <div><a href="/leaderboards/halo-reach-invasion">Reach: Team Invasion</a> <span class="platform"><a class="steam-icon" href="/leaderboards/pc/halo-reach-invasion">PC</a> | <a class="xbox-icon" href="/leaderboards/halo-reach-invasion">Xbox</a></span></div>
            <div><a href="/leaderboards/halo-reach-team-slayer">Reach: Team Slayer</a> <span class="platform"><a class="steam-icon" href="/leaderboards/pc/halo-reach-team-slayer">PC</a> | <a class="xbox-icon" href="/leaderboards/halo-reach-team-slayer">Xbox</a></span></div>
        </nav>
    </div>
</div>

