<ol>
    <li class="tab active" id="present-tab" data-type="present-wrapper"><b>Present</b></li>
    <span>|</span>
    <li class="tab" id="past-tab" data-type="past-wrapper"><b>Before Reset</b></li>
</ol>

<div id="leaderboard-wrapper">

    <div id="present-wrapper" class="tab-wrapper active-tab">
        <div id="leaderboard-container">
            <div class="leaderboard-section">
                <h2 id="record-title">Service Record</h2>
                <nav>
                    <div><a href="/leaderboards/donations"><i style="color: gold" class="fas fa-dollar-sign"></i> Donators</a></div>
                    <div><a href="/leaderboards/assists">Assists</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/assists">ALL</a>|
                            <a class="xbox-icon" href="/leaderboards/s4/assists">S4</a>
                        </span>
                    </div>
                    <div><a href="/leaderboards/betrayals">Betrayals</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/betrayals">ALL</a>|
                            <a class="xbox-icon" href="/leaderboards/s4/betrayals">S4</a>
                        </span>
                    </div>
                    <div><a href="/leaderboards/headshots">Headshots</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/headshots">ALL</a>|
                            <a class="xbox-icon" href="/leaderboards/s4/headshots">S4</a>
                        </span>
                    </div>
                    <div><a href="/leaderboards/playtime">Playtime</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/playtime">ALL</a>|
                            <a class="xbox-icon" href="/leaderboards/s4/playtime">S4</a>
                        </span>
                    </div>
                    <div><a href="/leaderboards/kills">Kills</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/kills">ALL</a>|
                            <a class="xbox-icon" href="/leaderboards/s4/kills">S4</a>
                        </span>
                    </div>
                    <div><a href="/leaderboards/deaths">Deaths</a>
                    <span class="platform">
                        <a class="xbox-icon" href="/leaderboards/deaths">ALL</a>|
                        <a class="xbox-icon" href="/leaderboards/s4/deaths">S4</a>
                    </span>
                    </div>
                    <div><a href="/leaderboards/wins">Wins</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/wins">ALL</a>|
                            <a class="xbox-icon" href="/leaderboards/s4/wins">S4</a>
                        </span>
                    </div>
                    <div><a href="/leaderboards/losses">Losses</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/losses">ALL</a>|
                            <a class="xbox-icon" href="/leaderboards/s4/losses">S4</a>
                        </span>
                    </div>
                    <div><a href="/leaderboards/matches">Matches</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/matches">ALL</a>|
                            <a class="xbox-icon" href="/leaderboards/s4/matches">S4</a>
                        </span>
                    </div>
                    <div><a href="/leaderboards/wl">W/L Ratio</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/wl">ALL</a>|
                            <a class="xbox-icon" href="/leaderboards/s4/wl">S4</a>
                        </span>
                    </div>
                    <div><a href="/leaderboards/kd">K/D Ratio</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/kd">ALL</a>|
                            <a class="xbox-icon" href="/leaderboards/s4/kd">S4</a>
                        </span>
                    </div>
                </nav>
            </div>

            <div class="leaderboard-section">
                <h2>Playlist</h2>
                <nav>
                    <div><a href="/leaderboards/s4/mccs"><i style="color: gold" class="fas fa-trophy"></i> Top 100 MCCS</a></div>
                    <div><a href="/leaderboards/most-50s">Most 50s</a> <span class="platform"><a class="steam-icon" href="/leaderboards/pc/most-50s">PC</a> | <a class="xbox-icon" href="/leaderboards/xbox/most-50s">Xbox</a></span></div>
                    <div><a href="/leaderboards/xbox/hce-hardcore-doubles">H1: Hardcore Doubles</a> <span class="platform"><a class="steam-icon" href="/leaderboards/pc/hce-hardcore-doubles">PC</a> | <a class="xbox-icon" href="/leaderboards/xbox/hce-hardcore-doubles">Xbox</a></span></div>
                    <div><a href="/leaderboards/xbox/h2a-team-hardcore">H2A: Team Hardcore</a> <span class="platform"><a class="steam-icon" href="/leaderboards/pc/h2a-team-hardcore">PC</a> | <a class="xbox-icon" href="/leaderboards/xbox/h2a-team-hardcore">Xbox</a></span></div>
                    <div><a href="/leaderboards/xbox/h2c-team-hardcore">H2C: Team Hardcore</a> <span class="platform"><a class="steam-icon" href="/leaderboards/pc/h2c-team-hardcore">PC</a> | <a class="xbox-icon" href="/leaderboards/xbox/h2c-team-hardcore">Xbox</a></span></div>
                    <div><a href="/leaderboards/xbox/h3-team-slayer">H3: Team Slayer</a> <span class="platform"><a class="steam-icon" href="/leaderboards/pc/h3-team-slayer">PC</a> | <a class="xbox-icon" href="/leaderboards/xbox/h3-team-slayer">Xbox</a></span></div>
                    <div><a href="/leaderboards/xbox/h3-team-hardcore">H3: Team Hardcore</a> <span class="platform"><a class="steam-icon" href="/leaderboards/pc/h3-team-hardcore">PC</a> | <a class="xbox-icon" href="/leaderboards/xbox/h3-team-hardcore">Xbox</a></span></div>
                    <div><a href="/leaderboards/xbox/h3-team-doubles">H3: Team Doubles</a> <span class="platform"><a class="steam-icon" href="/leaderboards/pc/h3-team-doubles">PC</a> | <a class="xbox-icon" href="/leaderboards/xbox/h3-team-doubles">Xbox</a></span></div>
                    <div><a href="/leaderboards/xbox/halo-reach-team-hardcore">Reach: Team Hardcore</a> <span class="platform"><a class="steam-icon" href="/leaderboards/pc/halo-reach-team-hardcore">PC</a> | <a class="xbox-icon" href="/leaderboards/xbox/halo-reach-team-hardcore">Xbox</a></span></div>
                    <div><a href="/leaderboards/xbox/halo-reach-invasion">Reach: Team Invasion</a> <span class="platform"><a class="steam-icon" href="/leaderboards/pc/halo-reach-invasion">PC</a> | <a class="xbox-icon" href="/leaderboards/xbox/halo-reach-invasion">Xbox</a></span></div>
                </nav>
            </div>
        </div>
    </div>

    <div id="past-wrapper" class="tab-wrapper">
        <div id="leaderboard-container">
            <div class="leaderboard-section">
                <h2 id="record-title">Service Record</h2>
                <nav>
                    <div><a href="/leaderboards/before-reset/most-50s">Most 50s</a> <span class="platform"><a class="steam-icon" href="/leaderboards/before-reset/pc/most-50s">PC</a> | <a class="xbox-icon" href="/leaderboards/before-reset/most-50s">Xbox</a></span></div>
                    <div><a href="/leaderboards/s3/assists">Assists</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/s3/assists">S3</a>
                        </span>
                    </div>
                    <div><a href="/leaderboards/s3/betrayals">Betrayals</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/s3/betrayals">S3</a>
                        </span>
                    </div>
                    <div><a href="/leaderboards/s3/headshots">Headshots</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/s3/headshots">S3</a>
                        </span>
                    </div>
                    <div><a href="/leaderboards/s3/playtime">Playtime</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/s1/playtime">S1</a> |
                            <a class="xbox-icon" href="/leaderboards/s2/playtime">S2</a> |
                            <a class="xbox-icon" href="/leaderboards/s3/playtime">S3</a>
                        </span>
                    </div>
                    <div><a href="/leaderboards/s3/kills">Kills</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/s1/kills">S1</a> |
                            <a class="xbox-icon" href="/leaderboards/s2/kills">S2</a> |
                            <a class="xbox-icon" href="/leaderboards/s3/kills">S3</a>
                        </span>
                    </div>
                    <div><a href="/leaderboards/s3/deaths">Deaths</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/s1/deaths">S1</a> |
                            <a class="xbox-icon" href="/leaderboards/s2/deaths">S2</a> |
                            <a class="xbox-icon" href="/leaderboards/s3/deaths">S3</a>
                        </span>
                    </div>
                    <div><a href="/leaderboards/s3/wins">Wins</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/s1/wins">S1</a> |
                            <a class="xbox-icon" href="/leaderboards/s2/wins">S2</a> |
                            <a class="xbox-icon" href="/leaderboards/s3/wins">S3</a>
                        </span>
                    </div>
                    <div><a href="/leaderboards/s3/losses">Losses</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/s1/losses">S1</a> |
                            <a class="xbox-icon" href="/leaderboards/s2/losses">S2</a> |
                            <a class="xbox-icon" href="/leaderboards/s3/losses">S3</a>
                        </span>
                    </div>
                    <div><a href="/leaderboards/s3/matches">Matches</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/s1/matches">S1</a> |
                            <a class="xbox-icon" href="/leaderboards/s2/matches">S2</a> |
                            <a class="xbox-icon" href="/leaderboards/s3/matches">S3</a>
                        </span>
                    </div>
                    <div><a href="/leaderboards/s3/wl">W/L Ratio</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/s1/wl">S1</a> |
                            <a class="xbox-icon" href="/leaderboards/s2/wl">S2</a> |
                            <a class="xbox-icon" href="/leaderboards/s3/wl">S3</a>
                        </span>
                    </div>
                    <div><a href="/leaderboards/s3/kd">K/D Ratio</a>
                        <span class="platform">
                            <a class="xbox-icon" href="/leaderboards/s1/kd">S1</a> |
                            <a class="xbox-icon" href="/leaderboards/s2/kd">S2</a> |
                            <a class="xbox-icon" href="/leaderboards/s3/kd">S3</a>
                        </span>
                    </div>
                </nav>
            </div>

            <div class="leaderboard-section">
                <h2>Playlist</h2>
                <nav>
                    <div><a href="/leaderboards/s3/mccs"><i style="color: gold" class="fas fa-trophy"></i> Top 100 MCCS</a>
                    <span class="platform">
                        <a class="xbox-icon" href="/leaderboards/s1/mccs">S1</a> |
                        <a class="xbox-icon" href="/leaderboards/s2/mccs">S2</a> |
                        <a class="xbox-icon" href="/leaderboards/s3/mccs">S3</a>
                    </span>
                    </div>
                    <div><a href="/leaderboards/before-reset/hce-team-doubles">H1: Team Doubles</a></div>
                    <div><a href="/leaderboards/before-reset/hce-hardcore-doubles">H1: Hardcore Doubles</a> <span class="platform"><a class="steam-icon" href="/leaderboards/before-reset/pc/hce-hardcore-doubles">PC</a> | <a class="xbox-icon" href="/leaderboards/before-reset/hce-hardcore-doubles">Xbox</a></span></div>
                    <div><a href="/leaderboards/before-reset/h2a-team-hardcore">H2A: Team Hardcore</a> <span class="platform"><a class="steam-icon" href="/leaderboards/before-reset/pc/h2a-team-hardcore">PC</a> | <a class="xbox-icon" href="/leaderboards/before-reset/h2a-team-hardcore">Xbox</a></span></div>
                    <div><a href="/leaderboards/before-reset/h2c-team-hardcore">H2C: Team Hardcore</a> <span class="platform"><a class="steam-icon" href="/leaderboards/before-reset/pc/h2c-team-hardcore">PC</a> | <a class="xbox-icon" href="/leaderboards/before-reset/h2c-team-hardcore">Xbox</a></span></div>
                    <div><a href="/leaderboards/before-reset/h3-team-slayer">H3: Team Slayer</a></div>
                    <div><a href="/leaderboards/before-reset/h3-team-hardcore">H3: Team Hardcore</a></div>
                    <div><a href="/leaderboards/before-reset/h3-team-doubles">H3: Team Doubles</a></div>
                    <div><a href="/leaderboards/before-reset/ms-2v2-series">H3: MS 2v2 Series</a></div>
                    <div><a href="/leaderboards/before-reset/halo-reach-team-hardcore">Reach: Team Hardcore</a> <span class="platform"><a class="steam-icon" href="/leaderboards/before-reset/pc/halo-reach-team-hardcore">PC</a> | <a class="xbox-icon" href="/leaderboards/before-reset/halo-reach-team-hardcore">Xbox</a></span></div>
                    <div><a href="/leaderboards/before-reset/halo-reach-invasion">Reach: Team Invasion</a> <span class="platform"><a class="steam-icon" href="/leaderboards/before-reset/pc/halo-reach-invasion">PC</a> | <a class="xbox-icon" href="/leaderboards/before-reset/halo-reach-invasion">Xbox</a></span></div>
                    <div><a href="/leaderboards/before-reset/halo-reach-team-slayer">Reach: Team Slayer</a> <span class="platform"><a class="steam-icon" href="/leaderboards/before-reset/pc/halo-reach-team-slayer">PC</a> | <a class="xbox-icon" href="/leaderboards/before-reset/halo-reach-team-slayer">Xbox</a></span></div>
                </nav>
            </div>
        </div>
    </div>

</div>