<div id="leaderboard-container">
    <div class="leaderboard-section">
        <h2 id="record-title">Service Record</h2>
        <nav>
            <div><a href="/leaderboards/most-50s">Most 50s</a> <span class="platform"><a class="steam-icon" href="/leaderboards/pc/most-50s">PC</a> | <a class="xbox-icon" href="/leaderboards/xbox/most-50s">Xbox</a></span></div>
            <div><a href="/leaderboards/playtime">Playtime</a></div>
            <div><a href="/leaderboards/kills">Kills</a></div>
            <div><a href="/leaderboards/deaths">Deaths</a></div>
            <div><a href="/leaderboards/wins">Wins</a></div>
            <div><a href="/leaderboards/losses">Losses</a></div>
            <div><a href="/leaderboards/matches">Matches</a></div>
            <div><a href="/leaderboards/wl">W/L Ratio</a></div>
            <div><a href="/leaderboards/kd">K/D Ratio</a></div>
        </nav>
    </div>

    <div class="leaderboard-section">
        <h2>Playlist</h2>
        <nav>
            <div><a href="/leaderboards/hce-team-doubles">Halo 1: Team Doubles</a></div>
            <div><a href="/leaderboards/h2c-team-hardcore">Halo 2 Classic: Team Hardcore</a></div>
            <div><a href="/leaderboards/h3-team-slayer">Halo 3: Team Slayer</a></div>
            <div><a href="/leaderboards/h3-team-hardcore">Halo 3: Team Hardcore</a></div>
            <div><a href="/leaderboards/h3-team-doubles">Halo 3: Team Doubles</a></div>
            <div><a href="/leaderboards/ms-2v2-series">Halo 3: MS 2v2 Series</a></div>
            <div><a href="/leaderboards/halo-reach-team-hardcore">Reach: Team Hardcore</a> <span class="platform"><a class="steam-icon" href="/leaderboards/pc/halo-reach-team-hardcore">PC</a> | <a class="xbox-icon" href="/leaderboards/halo-reach-team-hardcore">Xbox</a></span></div>
            <div><a href="/leaderboards/halo-reach-invasion">Reach: Team Invasion</a> <span class="platform"><a class="steam-icon" href="/leaderboards/pc/halo-reach-invasion">PC</a> | <a class="xbox-icon" href="/leaderboards/halo-reach-invasion">Xbox</a></span></div>
            <div><a href="/leaderboards/halo-reach-team-slayer">Reach: Team Slayer</a> <span class="platform"><a class="steam-icon" href="/leaderboards/pc/halo-reach-team-slayer">PC</a> | <a class="xbox-icon" href="/leaderboards/halo-reach-team-slayer">Xbox</a></span></div>
        </nav>
    </div>
</div>