<div id="leaderboard-container">
    <div>
        <h2 id="record-title">Service Record</h2>
        <nav>
            <a href="/leaderboards/most-50s">Most 50s</a>
            <a href="/leaderboards/playtime">Playtime</a>
            <a href="/leaderboards/kills">Kills</a>
            <a href="/leaderboards/deaths">Deaths</a>
            <a href="/leaderboards/wins">Wins</a>
            <a href="/leaderboards/losses">Losses</a>
            <a href="/leaderboards/matches">Matches</a>
            <a href="/leaderboards/wl">W/L Ratio</a>
            <a href="/leaderboards/kd">K/D Ratio</a>
        </nav>
    </div>

    <div>
        <h2>Playlist</h2>
        <nav>
            <a href="/leaderboards/hce-team-doubles">Halo 1: Team Doubles</a>
            <a href="/leaderboards/h2c-team-hardcore">Halo 2 Classic: Team Hardcore</a>
            <a href="/leaderboards/h3-team-slayer">Halo 3: Team Slayer</a>
            <a href="/leaderboards/h3-team-hardcore">Halo 3: Team Hardcore</a>
            <a href="/leaderboards/h3-team-doubles">Halo 3: Team Doubles</a>
            <a href="/leaderboards/ms-2v2-series">Halo 3: MS 2v2 Series</a>
            <a href="/leaderboards/halo-reach-team-hardcore">Halo Reach: Team Hardcore</a>
            <a href="/leaderboards/halo-reach-invasion">Halo Reach: Team Invasion</a>
            <a href="/leaderboards/halo-reach-team-slayer">Halo Reach: Team Slayer</a>
        </nav>
    </div>
</div>