#body-wrapper {
    width: calc(100vw - 100px);
    margin: 0 auto;
    min-height: calc(100vh - 200px);
}

footer {
    margin-top: 40px;
}

h1, h2, i {
    text-align: center;
}

a {
    color: deepskyblue;
}

li {
    margin: 10px 0;
}