#tip-popup {
    z-index: 9999;
    position: absolute;
    opacity: 0;
    -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
         -o-transition-timing-function: cubic-bezier(.165,.84,.44,1);
            transition-timing-function: cubic-bezier(.165,.84,.44,1);
    pointer-events: none;
    color: #fff;
    border-radius: 4px;
    padding: .4rem .8rem;
    text-align: center;
    background-color: #131313;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    display: none;
}

#tip-arrow {
    border-top: 7px solid #111111;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    bottom: -7px;
    margin: 0 9px;
    position: absolute;
    width: 0;
    height: 0;
}

.mouse-leave {
    opacity: 0 !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
}

.tippy:hover {
    -webkit-filter: brightness(1.15) hue-rotate(10deg) contrast(1.5);
            filter: brightness(1.15) hue-rotate(10deg) contrast(1.5);
    -webkit-box-shadow: 0 10px 15px -1px rgba(0, 0, 0, 0.1), 0 25px 50px -4px rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 15px -1px rgba(0, 0, 0, 0.1), 0 25px 50px -4px rgba(0, 0, 0, 0.3);
}@media only screen and (max-width: 800px) {
    #mccstats-form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 350px;
        margin: 0 auto;
    }
}

#donate-wrapper {
    width: calc(100vw - 100px);
    max-width: 700px;
    display: none;
}

#donate-wrapper h2 {
    text-align: left;
    width: 100%;
}

#bronze-donator {
    margin-right: 10px;
    color: #ff7d0d;
}

#silver-donator {
    margin-right: 10px;
    color: silver;
}

#gold-donator {
    margin-right: 10px;
    color: gold;
}

p a {
    color: #6fa6f8;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
}

/*Form*/
form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

form .input-wrapper {
    margin: 0 10px;
}

form .input-container {
    margin: 10px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

form label {
    min-width: 120px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

form input {
    height: 30px;
    font-family: 'Roboto', sans-serif;
}

form textarea {
    margin: 0;
    width: 189px;
    padding: 4px;
    height: 61px;
    outline: none;
    border-radius: 1px;
    resize: none;
    font-family: 'Roboto', sans-serif;
}
/*Form*/

/*Donate Choice*/
h4 {
    width: 264px;
    margin: 20px auto;
    font-size: 20px;
}

#choice-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.donate-choice {
    cursor: pointer;
    color: #c6cac8;
    padding: 7px 8px;
    border: 1px solid #366cc6;
    margin-right: 10px;
    border-radius: 2px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    min-width: 35px;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
}

.donate-choice.active {
    background: #366cc6;
    color: white;
}

#gold.active {
    background: gold;
    border-color: gold;
    color: black;
}

#silver.active {
    background: silver;
    color: black;
    border-color: silver;
}

#bronze.active {
    background: #ff7d0d;
    border-color: #ff7d0d;
    color: white;
}
/*Donate Choice*/

/*Button*/
#button-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0 40px;
}

input[type="image"] {
    height: 80px;
    background: transparent;
    padding: 0;
}

#donate-submit, #email-submit {
    background: green;
    width: 100px;
    height: 38px;
    margin: 0 20px;
}

#donate-submit:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}
/*Button*/

/*Thank You*/
#thank-you-wrapper {
    display: none;
}

#thank-you-wrapper h1 {
    text-align: center;
    font-size: 90px;
    color: #23a323;
    margin: 20px 0;
}

#thank-you-wrapper p {
    margin: 0 auto;
    max-width: 450px;
    color: #d7d7d7;
    text-align: center;
    line-height: 24px;
}

#email-submit {
    margin: 20px auto;
    display: block;
}

#form-wrapper h1 {
    color: beige;
    margin: 70px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #414141;
}
/*Thank You*/

/*CheckBOX*/
.check-box-wrapper {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
	padding: 0 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 10px;
}

.check-box-wrapper span {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}

.check-box-wrapper .check-box {
	position: relative;
    width: 18px;
    background: #ffffff;
    height: 18px;
    border-radius: 3px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    vertical-align: middle;
    border: 1px solid #d1c9c9;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    min-width: 17.5px;
}

.check-box-wrapper .check-box svg {
	position: absolute;
	top: 4px;
	left: 3px;
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transition-delay: .1s;
	     -o-transition-delay: .1s;
	        transition-delay: .1s;
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}

.check-box-wrapper .check-box-label {
	padding-left: 10px;
}

.check-box-wrapper:hover .check-box {
	border-color: #506EEC;
}

.checkbox-input:checked + .check-box-wrapper .check-box {
	background: #506EEC;
    border-color: #506EEC;
    -webkit-animation: wave .4s ease;
            animation: wave .4s ease;
    min-width: 17.5px;
}

.checkbox-input:checked + .check-box-wrapper .check-box svg {
	stroke-dashoffset: 0;
}

.checkbox-input:checked + .check-box-wrapper .check-box:before {
	-webkit-transform: scale(3.5);
	    -ms-transform: scale(3.5);
	        transform: scale(3.5);
	opacity: 0;
	-webkit-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
}

@-webkit-keyframes wave {
	50% {
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}
}

@keyframes wave {
	50% {
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}
}
/*CheckBOX*/