#tip-popup {
    z-index: 1;
    position: absolute;
    opacity: 0;
    -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
         -o-transition-timing-function: cubic-bezier(.165,.84,.44,1);
            transition-timing-function: cubic-bezier(.165,.84,.44,1);
    pointer-events: none;
    color: #fff;
    border-radius: 4px;
    padding: .4rem .8rem;
    text-align: center;
    background-color: #131313;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    display: none;
}

#tip-arrow {
    border-top: 7px solid #111111;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    bottom: -7px;
    margin: 0 9px;
    position: absolute;
    width: 0;
    height: 0;
}

.mouse-leave {
    opacity: 0 !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
}

.tippy:hover {
    -webkit-filter: brightness(1.15) hue-rotate(10deg) contrast(1.5);
            filter: brightness(1.15) hue-rotate(10deg) contrast(1.5);
    -webkit-box-shadow: 0 10px 15px -1px rgba(0, 0, 0, 0.1), 0 25px 50px -4px rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 15px -1px rgba(0, 0, 0, 0.1), 0 25px 50px -4px rgba(0, 0, 0, 0.3);
}.anim-text-flow span, .rgb-donator {
  -webkit-animation-name: rainbow;
          animation-name: rainbow;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes rainbow {
  0% {
    color: #d65cce;
  }
  5% {
    color: #5c72d6;
  }
  10% {
    color: #d6bc5c;
  }
  15% {
    color: #a75cd6;
  }
  20% {
    color: #d65ca3;
  }
  25% {
    color: #add65c;
  }
  30% {
    color: #d6b85c;
  }
  35% {
    color: #d65cd0;
  }
  40% {
    color: #d6915c;
  }
  45% {
    color: #ab5cd6;
  }
  50% {
    color: #d6ce5c;
  }
  55% {
    color: #5cabd6;
  }
  60% {
    color: #5c85d6;
  }
  65% {
    color: #d6c45c;
  }
  70% {
    color: #5ca3d6;
  }
  75% {
    color: #a3d65c;
  }
  80% {
    color: #7e5cd6;
  }
  85% {
    color: #5cd6b6;
  }
  90% {
    color: #935cd6;
  }
  95% {
    color: #5cd6ca;
  }
  100% {
    color: #8d5cd6;
  }
}
@keyframes rainbow {
  0% {
    color: #d65cce;
  }
  5% {
    color: #5c72d6;
  }
  10% {
    color: #d6bc5c;
  }
  15% {
    color: #a75cd6;
  }
  20% {
    color: #d65ca3;
  }
  25% {
    color: #add65c;
  }
  30% {
    color: #d6b85c;
  }
  35% {
    color: #d65cd0;
  }
  40% {
    color: #d6915c;
  }
  45% {
    color: #ab5cd6;
  }
  50% {
    color: #d6ce5c;
  }
  55% {
    color: #5cabd6;
  }
  60% {
    color: #5c85d6;
  }
  65% {
    color: #d6c45c;
  }
  70% {
    color: #5ca3d6;
  }
  75% {
    color: #a3d65c;
  }
  80% {
    color: #7e5cd6;
  }
  85% {
    color: #5cd6b6;
  }
  90% {
    color: #935cd6;
  }
  95% {
    color: #5cd6ca;
  }
  100% {
    color: #8d5cd6;
  }
}

.anim-text-flow span:nth-of-type(1){
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}
.anim-text-flow span:nth-of-type(2) {
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
}
.anim-text-flow span:nth-of-type(3){
  -webkit-animation-delay: -1.3s;
          animation-delay: -1.3s;
}
.anim-text-flow span:nth-of-type(4){
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
.anim-text-flow span:nth-of-type(5) {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.anim-text-flow span:nth-of-type(6) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.anim-text-flow span:nth-of-type(7) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.anim-text-flow span:nth-of-type(8) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.anim-text-flow span:nth-of-type(9) {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.anim-text-flow span:nth-of-type(10){
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.anim-text-flow span:nth-of-type(11) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.anim-text-flow span:nth-of-type(12) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.anim-text-flow span:nth-of-type(13){
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.anim-text-flow span:nth-of-type(14) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.anim-text-flow span:nth-of-type(15), .rgb-donator{
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}
.anim-text-flow span:nth-of-type(16){
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
#input-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
    background: #171717;
    -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.8), 0 3px 24px rgba(0, 0, 0, 1);
            box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.8), 0 3px 24px rgba(0, 0, 0, 1);
    margin-bottom: 20px;
}

h1 {
    width: calc(100% - 75px);
    font-size: 30px;
    margin: 7px 0;
    color: #eeeeee;
}

#body-wrapper {
    min-height: calc(100vh - 162px);
}

footer #leaderboard-button {
    display: none !important;
}

/* TABLE */
table {
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 43px 0 rgb(0, 0, 0);
            box-shadow: 0 0 43px 0 rgb(0, 0, 0);
    background-color: #393939;
    margin: 15px auto;
    border-collapse: collapse;
    width: calc(100vw - 100px);
    border: 1px solid white;
}

table thead {
    font-size: 15px;
    color: #bebebe;
    background-color: #2d2c2c;
    white-space: nowrap;
    text-transform: capitalize;
    line-height: 30px;
}

table thead th {
    padding: 5px 7px;
    text-align: left;
    font-size: 13px;
}

table tbody {
    font-size: 15px;
    color: #a5a5a5;
    line-height: 1.4;
    background-color: #151515;
    white-space: nowrap;
}

table td {
    display: table-cell;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

table td:nth-child(2) {
    width: 99%;
    white-space: nowrap;
}

table tbody tr:nth-child(even) {
    background: #202020;
}

table tbody tr:nth-child(odd) {
    background: #0f0f0f;
}

table a {
    text-decoration: none;
    color: #a5a5a5;
}

.number-rank {
    text-align: center;
    padding-left: 25px;
}

.number-right {
    text-align: right;
}

.halo-rank {
    height: 25px;
    position: absolute;
    top: 6.5px;
    left: 5px;
}
/* TABLE */

#first {
    color: #ebd00a;
}

#second {
    color: #cacacc;
}

#third {
    color: #d98113;
}

p {
    color: #ff5c5c;
}

#no-players {
    margin: 50px 0;
    font-size: 45px;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
}

.butter-ranks {
    padding-left: 30px;
}

.exp-rank {
    height: 27px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.rank {
    margin-right: 2px;
}

.emblem {
    height: 30px;
    position: absolute;
    top: 4px;
    -webkit-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

.gamertag {
    margin-left: 40px;
}

/*PAGINATION*/
#page-wrapper {
    width: calc(100vw - 100px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 30px;
}

#pagination {
    background: #0a0a0a;
    border: 1px solid #5d5d5d;
    border-radius: 2px;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#pagination li {
    padding: 8px 18px;
    border-radius: 2px;
    -webkit-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

#pagination li:hover {
    background: #1c3363;
}

#pagination li.active {
    background: #3466d0;
}
/*PAGINATION*/

/*DONATOR*/
#donator-wrapper {
    padding: 2px;
    cursor: default;
    border-radius: 1px;
}

.icon {
    font-size: 15px;
    cursor: pointer;
    padding: 3px;
    -webkit-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

.diamond-donator {
    color: white;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
            animation: glow 1s ease-in-out infinite alternate;
    font-weight: bold;
}

.fire-donator {
    -webkit-animation: burn 0.9s ease-in-out infinite alternate;
            animation: burn 0.9s ease-in-out infinite alternate;
    color: #f17821;
    font-weight: bold;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
}

.rgb-donator {
    font-weight: bold;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
}

.icon:hover {
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
}

.icon.twitch {
    color: #9257ff;
}

.icon.youtube {
    color: #ff3a30;
}

.icon.twitter {
    color: #55acee;
}

.icon.mixer {
    color: #1fbaed;
}

.glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
          animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #415ce3, 0 0 8px #415ce3, 0 0 10px #415ce3, 0 0 12px #415ce3, 0 0 14px #415ce3;
  }
  to {
    text-shadow: 0 0 6px #fff, 0 0 8px #4de6ff, 0 0 10px #4de6ff, 0 0 12px #4de6ff, 0 0 14px #4de6ff, 0 0 16px #4de6ff, 0 0 18px #4de6ff;
  }
}
/*DONATOR*/


/*FIRE*/
.fire {
    color: #ffaeae;
    -webkit-animation: burn 1s ease-in-out infinite alternate;
            animation: burn 1s ease-in-out infinite alternate;
}

.burn {
    color: #ffaeae;
    -webkit-animation: burn .65s ease-in-out infinite alternate;
            animation: burn .65s ease-in-out infinite alternate;
}

@-webkit-keyframes burn
{
    0% {
        text-shadow: 0 0 10px #fefcc9, 5px -5px 15px #feec85, -10px -10px 4px #ffae34, 10px 6px 10px #ec760c, -12px 3px -5px #cd4606, 11px -40px 35px #973716, 10px 6px 10px #451b0e;
    }
    100% {
        text-shadow: 0 0 10px #fefcc9, 5px -5px 8px #fefcc9, -10px -10px 8px #feec85, 11px 6px 6px #ffae34, -5px 11px 12px #ec760c, 0 -15px 5px #cd4606, 5px -1px 11px #973716;
    }
}

@keyframes burn
{
    0% {
        text-shadow: 0 0 10px #fefcc9, 5px -5px 15px #feec85, -10px -10px 4px #ffae34, 10px 6px 10px #ec760c, -12px 3px -5px #cd4606, 11px -40px 35px #973716, 10px 6px 10px #451b0e;
    }
    100% {
        text-shadow: 0 0 10px #fefcc9, 5px -5px 8px #fefcc9, -10px -10px 8px #feec85, 11px 6px 6px #ffae34, -5px 11px 12px #ec760c, 0 -15px 5px #cd4606, 5px -1px 11px #973716;
    }
}
/*FIRE*/
