#tip-popup {
    z-index: 9999;
    position: absolute;
    opacity: 0;
    -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
         -o-transition-timing-function: cubic-bezier(.165,.84,.44,1);
            transition-timing-function: cubic-bezier(.165,.84,.44,1);
    pointer-events: none;
    color: #fff;
    border-radius: 4px;
    padding: .4rem .8rem;
    text-align: center;
    background-color: #131313;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    display: none;
}

#tip-arrow {
    border-top: 7px solid #111111;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    bottom: -7px;
    margin: 0 9px;
    position: absolute;
    width: 0;
    height: 0;
}

.mouse-leave {
    opacity: 0 !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
}

.tippy:hover {
    -webkit-filter: brightness(1.15) hue-rotate(10deg) contrast(1.5);
            filter: brightness(1.15) hue-rotate(10deg) contrast(1.5);
    -webkit-box-shadow: 0 10px 15px -1px rgba(0, 0, 0, 0.1), 0 25px 50px -4px rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 15px -1px rgba(0, 0, 0, 0.1), 0 25px 50px -4px rgba(0, 0, 0, 0.3);
}#input-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
    background: #171717;
    -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.8), 0 3px 24px rgba(0, 0, 0, 1);
            box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.8), 0 3px 24px rgba(0, 0, 0, 1);
    margin-bottom: 20px;
}

h1 {
    width: calc(100% - 75px);
    font-size: 30px;
    margin: 7px 0;
    color: #eeeeee;
}

/* TABLE */
table {
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 43px 0 rgb(0, 0, 0);
            box-shadow: 0 0 43px 0 rgb(0, 0, 0);
    background-color: #393939;
    margin: 15px auto;
    border-collapse: collapse;
    width: calc(100vw - 100px);
    border: 1px solid white;
}

table thead {
    font-size: 15px;
    color: #bebebe;
    background-color: #2d2c2c;
    white-space: nowrap;
    text-transform: capitalize;
    line-height: 30px;
}

table thead th {
    padding: 5px 7px;
    text-align: left;
    font-size: 13px;
}

table tbody {
    font-size: 15px;
    color: #a5a5a5;
    line-height: 1.4;
    background-color: #151515;
    white-space: nowrap;
}

table td {
    display: table-cell;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

table td:nth-child(2) {
    width: 99%;
    white-space: nowrap;
}

table tbody tr:nth-child(even) {
    background: #202020;
}

table tbody tr:nth-child(odd) {
    background: #0f0f0f;
}

table a {
    text-decoration: none;
    color: #a5a5a5;
}

.number-rank {
    text-align: center;
    padding-left: 25px;
}

.number-right {
    text-align: right;
}

.halo-rank {
    height: 25px;
    position: absolute;
    top: 6.5px;
    left: 5px;
}
/* TABLE */

#first {
    color: #ebd00a;
}

#second {
    color: #cacacc;
}

#third {
    color: #d98113;
}

p {
    color: #ff5c5c;
}

#no-players {
    margin: 50px 0;
    font-size: 45px;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
}

.butter-ranks {
    padding-left: 30px;
}

.exp-rank {
    height: 27px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.rank {
    margin-right: 2px;
}

.emblem {
    height: 30px;
    position: absolute;
    top: 4px;
    -webkit-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

.gamertag {
    margin-left: 40px;
}

/*PAGINATION*/
#page-wrapper {
    width: calc(100vw - 100px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 30px;
}

#pagination {
    background: #0a0a0a;
    border: 1px solid #5d5d5d;
    border-radius: 2px;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#pagination li {
    padding: 8px 18px;
    border-radius: 2px;
    -webkit-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

#pagination li:hover {
    background: #1c3363;
}

#pagination li.active {
    background: #3466d0;
}
/*PAGINATION*/

/*DONATOR*/
#donator-wrapper {
    padding: 2px;
    cursor: default;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 1px 1px #2d2d2d;
            box-shadow: 0 0 1px 1px #2d2d2d;
}

.icon {
    font-size: 15px;
    cursor: pointer;
    padding: 3px;
    -webkit-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

.icon:hover {
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
}

.icon.twitch {
    color: #9257ff;
}

.icon.youtube {
    color: #ff3a30;
}

.icon.twitter {
    color: #55acee;
}
/*DONATOR*/

