body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
        -webkit-box-align: center;
            align-items: center;
    -ms-flex-pack: center;
        -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            flex-direction: column;
    background: #3f4e97;
}

h2 {
    color: #889dff;
    text-align: center;
    font-size: 19px;
    margin-bottom: 20px;
}

a {
    font-size: 12px;
}

label {
    font-size: 13px;
    margin-bottom: 10px;
}

#home-wrapper {
    padding: 10px 0 50px 0;
    min-height: 72px;
}

#home-header {
    text-align: center;
    -webkit-animation: fadein 3s;
            animation: fadein 3s;
    display: none;
}

#home-title {
    color: #f6f6f6;
    letter-spacing: 1px;
}

.inner-wrapper {
    display: none;
    position: relative;
    padding: 32px 45px 53px 45px;
    margin-bottom: 50px;
    -webkit-animation: fadein 1s;
            animation: fadein 1s;
    -webkit-transition: margin 500ms;
    -o-transition: margin 500ms;
    transition: margin 500ms;
}

.input-container {
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

#login {
    margin: 16px auto 0 auto;
    display: block;
}

#link-wrapper {
    position: absolute;
    width: 240px;
    bottom: 73px;
    left: 57px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px 0 -12px 0;
}

#link-wrapper a {
    color: #889dfe;
}

.error {
    display: none;
    font-size: 11px;
    margin-left: 10px;
    margin-top: -6px;
}

#login-container {
    background: #1c1c1c;
    padding: 35px;
}

#login-container input {
    height: 30px;
    width: 160px;
    font-size: 13px;
}

#login {
    border: 1.2px #6c81e6 solid;
    padding: 7px 14px;
}

#login:hover {
    background: #38458369;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (max-height: 460px) {
    #home-wrapper {
        display: none ;
    }

    .inner-wrapper {
        margin-bottom: 0;
    }
}
