/* Mobile Styles */
@media only screen and (max-width: 1000px) {
    .power-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .flex-wrapper {
        flex-direction: column;
    }

    img {
        transition: 0.5s ease all;
        transform: scale(0.7);
    }

    .description {
        font-size: 13px;
    }
}

@media only screen and (max-width: 720px) {
    .map-img {
        transform-origin: left;
    }
}

@media only screen and (max-width: 620px) {
    body #body-wrapper {
        width: 100vw;
    }

    .map-img {
        transform-origin: left;
        transform: scale(0.4);
        margin: -100px 0;
    }

    .power-wrapper ol {
        font-size: 14px !important;
        margin-left: 20px;
    }

    #body-wrapper .tab-wrapper {
        padding: 1px 15px 13px;
    }
}

#title {
    margin-top: 35px;
    font-size: 40px;
    margin-bottom: 0;
}

#title span {
    color: #00ff66;
}

#body-wrapper {
    width: calc(100vw - 100px);
    margin: 0 auto;
    min-height: calc(100vh - 200px);
    max-width: 1000px;
}

h4 {
    font-family: 'Rajdhani', 'Roboto', sans-serif;
    margin: 10px;
    text-transform: capitalize;
}

h3 {
    text-transform: capitalize;
}

h5 {
    text-align: left;
    font-size: 14.5px;
    border-bottom: 1px solid #383838;
    margin: 0;
    padding: 0px 0 3px;
    margin-bottom: 2px;
}

footer {
    margin-top: 40px;
}

h1, h2, i {
    text-align: center;
}

a {
    color: deepskyblue;
    text-decoration: none;
}

li {
    margin: 10px 0;
}

ol {
    padding: 10px 0;
    text-align: left;
    width: fit-content;
    margin: 0 auto;
}

#tabular-wrapper {
    list-style: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
    color: #b4b4b4;
    font-weight: bold;
    font-size: 13px;
    width: 100%;
}

.inner {
    display: block;
    color: #b1b1b1;
    font-size: 14px;
    margin-left: 10px;
}

.tab {
    cursor: pointer;
    margin: 4px 14px;
    padding: 2px 4px;
    transition: 0.5s ease all;
    border-bottom: 2px solid #282828;
}

.tab.active {
    border-bottom: solid 3px #4354a5;
}

.tab:hover, .operation-tab:hover {
    color: #ffffff;
}

.active-tab {
    display: block !important;
}

.flex-wrapper {
    display: flex;
    justify-content: space-around;
}

.flex-wrapper img {
    max-width: 200px;
    max-height: 50px;
    margin: 10px auto;
    display: block;
}

.flex-wrapper div {
    width: 200px;
    margin: 0 auto;
}

.description {
    font-size: 15px;
    max-width: calc(100vw - 20px);
    margin: 0 auto;
}

.power-wrapper {
    background: #191919;
    border: #313131 solid 1px;
    margin-top: 15px;
    text-align: center;
}

.tab-wrapper {
    padding: 1px 25px 13px;
    background: #232222;
    border: #313131 solid 2px;
    margin: 15px 0;
    text-align: center;
    display: none;
}

/*ADDS*/
#ad-wrapper {
    width: fit-content;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
}
/*ADDS*/

/*CONTACT*/
form {
    display: flex;
    flex-direction: column;
}

form h1 {
    font-size: 80px;
    margin: 50px 0;
}

select {
    font-size: 19px;
    padding: 5px;
}

label {
    font-size: 19px;
    margin-top: 15px;
    margin-bottom: 5px;
}

textarea {
    resize: none;
    height: 150px;
    font-family: 'Roboto', 'Rajdhani', sans-serif;
    font-size: 19px;
    padding: 10px;
}

#send-message {
    margin: 20px auto 50px;
    display: block;
    background: green;
    padding: 10px 30px;
}

#other-wrapper {
    background: #0c0c0c;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 25px;
}

#other-wrapper a {
    color: #dcdcdc;
    display: flex;
    align-items: center;
    transition: 0.5s ease all;
    padding: 10px;
    font-size: 20px;
}

#other-wrapper a:hover {
    color: #ffffff;
}

#other-wrapper span {
    margin-left: 10px;
}

#twitter svg {
    color: #1DA1F2;
    font-size: 60px;
}

#discord svg {
    color: #7289DA;
    font-size: 60px;
}
/*CONTACT*/

/*ADDS*/
#ad-wrapper {
    width: fit-content;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    background: #1c1c1c;
    position: relative;
}

#ad-wrapper:after {
    content: "Ads go here!";
    position: absolute;
    text-align: center;
    margin: 18px 0;
    font-size: 20px;
    z-index: -1;
}
/*ADDS*/