@media only screen and (max-width: 420px) {
    body #body-wrapper {
        transform: scale(0.7);
        transform-origin: top;
        position: relative;
        left: -20px;
    }

    body table {
        opacity: 1;
    }
}

@media only screen and (max-width: 650px) {
    video {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    body #body-wrapper {
        flex-direction: column;
    }

    body #donate-table {
        width: 395px;
    }

    body #advertisement-wrapper {
        margin-top: 30px;
    }

    body iframe {
        width: 395px;
        height: 223px;
        opacity: 1;
    }
}

@media only screen and (max-width: 885px) {
    body #body-wrapper {
        width: fit-content;
    }
}

body {
    background: #131313;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', 'Rajdhani', sans-serif;
    overflow-x: hidden;
    align-items: flex-start;
}

video {
    position: absolute;
    min-height: 642px;
    width: 100vw;
    min-width: 947px;
    left: 0;
    top: 0;
    z-index: -2;
}

h1, h2 {
    font-family: 'Rajdhani', 'Roboto', sans-serif;
}

input {
    outline: none;
    border: none;
    border-radius: 1px;
    height: 43px;
    line-height: 20px;
    padding: 0 8px;
    background-color: #ffffff;
    color: #1b1a1a;
    font-size: 16px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #353535 inset;
    -webkit-text-fill-color: #c2c3c3;
}

#body-wrapper {
    display: flex;
    width: calc(100vw - 250px);
    margin: 0 auto;
    transition: 0.5s ease all;
    justify-content: space-between;
}

#content-wrapper p {
    margin: 0;
    font-size: 14px;
}

#search-button, #donate-button, #leaderboard-button {
    display: none;
}

#form-wrapper {
    margin-top: 50px;
}

#title {
    margin-top: 35px;
    font-size: 40px;
    margin-bottom: 0;
}

#title span {
    color: #00ff66;
}

#search {
    margin-top: 20px;
    width: 420px;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
    font-weight: bold;
}

.icon-links {
    text-decoration: none;
    line-height: 36px;
    transition: 0.5s ease all;
    border-radius: 1px;
    font-size: 30px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
}

#leaderboard {
    color: gold;
    font-size: 28px;
}

#discord {
    color: #7289DA;
}

#donate {
    color: #29df27;
}

#twitter {
    color: #1DA1F2;
}

#discord:hover, #donate:hover {
    filter: brightness(1.2);
}

/*RECENT DONATOR*/
#recent-donations-wrapper {
    margin-top: 35px;
}

#donate-table {
    width: 300px;
    transition: 0.5s ease all;
}

#donate-table td:nth-child(2) {
    width: 99%;
    white-space: nowrap;
}

/*RECENT DONATOR*/


/*ADVERTISEMENT*/
#advertisement-wrapper {
    margin-top: 115px;
}

#advertisement-wrapper h4 {
    margin-bottom: 10px;
}

iframe {
    border: none;
    transition: 0.5s ease all;
    box-shadow: 0 0 43px 0 rgb(0, 0, 0);
}
/*ADVERTISEMENT*/


/*ERROR*/
#error h1, #error p {
    text-align: center;
    width: 100%;
    margin: 20px 0;
}

#error #search-container {
    margin: 0 auto;
}
/*ERROR*/

/* TABLE */
h4 {
    margin: 16px 0 5px;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
}

table {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 43px 0 rgb(0, 0, 0);
    background-color: transparent;
    border-collapse: collapse;
    border: 1px solid white;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
    width: 395px;
}

table thead {
    font-size: 15px;
    color: #fff;
    background-color: rgba(27, 17, 79, 0.46);
    white-space: nowrap;
    text-transform: capitalize;
    line-height: 30px;
}

table thead th {
    padding: 0px 5px;
    text-align: left;
    font-size: 13px;
}

table tbody {
    font-size: 15px;
    color: #fff;
    line-height: 1.4;
    white-space: nowrap;
}

table td {
    display: table-cell;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    position: relative;
}

table tbody tr:nth-child(even) {
    background: rgba(3, 169, 244, 0.2);
}

table tbody tr:nth-child(odd) {
    background: rgba(98, 119, 236, 0.2);
}

table td:nth-child(2) {
    width: 27%;
    white-space: nowrap;
}

table td:nth-child(3) {
    width: 51%;
    white-space: nowrap;
}

table a {
    text-decoration: none;
    color: #fff;
}

.number {
    text-align: center;
}

.number-rank {
    text-align: center;
    padding-left: 25px;
}

.number-right {
    text-align: right;
}

.halo-rank {
    height: 25px;
    position: absolute;
    top: 6.5px;
    left: 5px;
}

#first {
    color: #ebd00a;
}

#second {
    color: #cacacc;
}

#third {
    color: #d98113;
}

.butter-ranks {
    padding-left: 30px;
}

.exp-rank {
    height: 27px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.rank {
    margin-right: 2px;
}

.emblem {
    height: 20px;
    position: absolute;
    top: 4px;
    transition: 0.5s ease all;
}

.gamertag {
    margin-left: 22px;
}
/* TABLE */

/*DONATOR*/
#donator-wrapper {
    padding: 2px;
    cursor: default;
    border-radius: 1px;
}

.icon {
    font-size: 15px;
    cursor: pointer;
    padding: 3px;
    transition: 0.5s ease all;
}

.diamond-donator {
    color: white;
    animation: glow 1s ease-in-out infinite alternate;
}

.fire-donator {
    animation: burn 0.9s ease-in-out infinite alternate;
    color: #f17821;
}

.icon:hover {
    filter: brightness(0.8);
}

.icon.twitch {
    color: #9257ff;
}

.icon.youtube {
    color: #ff3a30;
}

.icon.twitter {
    color: #55acee;
}

.icon.mixer {
    color: #1fbaed;
}

.glow {
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #415ce3, 0 0 8px #415ce3, 0 0 10px #415ce3, 0 0 12px #415ce3, 0 0 14px #415ce3;
  }
  to {
    text-shadow: 0 0 6px #fff, 0 0 8px #4de6ff, 0 0 10px #4de6ff, 0 0 12px #4de6ff, 0 0 14px #4de6ff, 0 0 16px #4de6ff, 0 0 18px #4de6ff;
  }
}
/*DONATOR*/

/*FIRE*/
.fire {
    color: #ffaeae;
    animation: burn 1s ease-in-out infinite alternate;
}

.burn {
    color: #ffaeae;
    animation: burn .65s ease-in-out infinite alternate;
}

@keyframes burn
{
    0% {
        text-shadow: 0 0 10px #fefcc9, 5px -5px 15px #feec85, -10px -10px 4px #ffae34, 10px 6px 10px #ec760c, -12px 3px -5px #cd4606, 11px -40px 35px #973716, 10px 6px 10px #451b0e;
    }
    100% {
        text-shadow: 0 0 10px #fefcc9, 5px -5px 8px #fefcc9, -10px -10px 8px #feec85, 11px 6px 6px #ffae34, -5px 11px 12px #ec760c, 0 -15px 5px #cd4606, 5px -1px 11px #973716;
    }
}
/*FIRE*/