#input-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 0;
    background: #171717;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.8), 0 3px 24px rgba(0, 0, 0, 1);
    margin-bottom: 20px;
}

h1 {
    width: calc(100% - 75px);
    font-size: 30px;
    margin: 7px 0;
    color: #eeeeee;
}

/* TABLE */
table {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 43px 0 rgb(0, 0, 0);
    background-color: #393939;
    margin: 15px auto;
    border-collapse: collapse;
    width: calc(100vw - 100px);
    border: 1px solid white;
}

table thead {
    font-size: 15px;
    color: #bebebe;
    background-color: #2d2c2c;
    white-space: nowrap;
    text-transform: capitalize;
    line-height: 30px;
}

table thead th {
    padding: 5px 7px;
    text-align: left;
    font-size: 13px;
}

table tbody {
    font-size: 15px;
    color: #a5a5a5;
    line-height: 1.4;
    background-color: #151515;
    white-space: nowrap;
}

table td {
    display: table-cell;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

table td:nth-child(2) {
    width: 99%;
    white-space: nowrap;
}

table tbody tr:nth-child(even) {
    background: #202020;
}

table tbody tr:nth-child(odd) {
    background: #0f0f0f;
}

table a {
    text-decoration: none;
    color: #a5a5a5;
}

.number-rank {
    text-align: center;
    padding-left: 25px;
}

.number-right {
    text-align: right;
}

.halo-rank {
    height: 25px;
    position: absolute;
    top: 6.5px;
    left: 5px;
}
/* TABLE */

#first {
    /*color: #c6c668;*/
    color: #d3d552;
}

#second {
    color: #9c9ca3;
}

#third {
    color: #b38449;
}

p {
    color: #ff5c5c;
}

.rank {
    margin-right: 2px;
}

.emblem {
    height: 30px;
    position: absolute;
    top: 4px;
}

.gamertag {
    margin-left: 40px;
}


