#home-link {
    font-family: 'Rajdhani', 'Roboto', sans-serif;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#input-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 0;
    background: #171717;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.8), 0 3px 24px rgba(0, 0, 0, 1);
    margin-bottom: 20px;
}

/* TABLE */
table {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    background-color: #393939;
    margin: 15px auto;
    border-collapse: collapse;
}

table thead {
    font-size: 15px;
    color: #bebebe;
    background-color: #2d2c2c;
    white-space: nowrap;
    text-transform: capitalize;
    line-height: 30px;
}

table thead th {
    padding: 5px 7px;
    text-align: left;
    font-size: 13px;
}

table tbody {
    font-size: 15px;
    color: #a5a5a5;
    line-height: 1.4;
    background-color: #151515;
    white-space: nowrap;
}

table td {
    display: table-cell;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
}

table td:nth-child(2) {
    width: 200px;
}

table tbody tr:nth-child(even) {
    background: #282727;
}

table tbody tr:nth-child(odd) {
    background: #0f0f0f;
}

.number {
    text-align: center;
}

.number-right {
    text-align: right;
}
/* TABLE */

#first {
    /*color: #c6c668;*/
    color: #d3d552;
}

#second {
    color: #9c9ca3;
}

#third {
    color: #b38449;
}
