@media only screen and (max-width: 650px) {
    body h1 {
        font-size: 20px;
    }
}

#input-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 0;
    background: #171717;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.8), 0 3px 24px rgba(0, 0, 0, 1);
    margin-bottom: 20px;
}

h1 {
    font-size: 30px;
    margin: 7px 0;
    color: #eeeeee;
    text-align: center;
}

#body-wrapper {
    min-height: calc(100vh - 162px);
    width: calc(100% - 20px);
    min-width: 328px;
    margin: 0 auto 25px auto;
    display: flex;
    justify-content: center;
}

#left-wrapper {
    max-width: 728px;
    width: 100%;
}

#right-wrapper {
    max-width: 300px;
    min-width: 160px;
    margin: 52px 0 0 10px;
    display: none;
}

footer #leaderboard-button {
    display: none !important;
}

/* TABLE */
table {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 43px 0 rgb(0, 0, 0);
    background-color: #393939;
    margin: 15px auto;
    border-collapse: collapse;
    border: 1px solid white;
}

table thead {
    font-size: 15px;
    color: #bebebe;
    background-color: #2d2c2c;
    white-space: nowrap;
    text-transform: capitalize;
    line-height: 30px;
}

table thead th {
    padding: 5px 7px;
    text-align: left;
    font-size: 13px;
}

table tbody {
    font-size: 15px;
    color: #a5a5a5;
    line-height: 1.4;
    background-color: #151515;
    white-space: nowrap;
}

table td {
    display: table-cell;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

table td:nth-child(2) {
    width: 99%;
    white-space: nowrap;
}

table tbody tr:nth-child(even) {
    background: #202020;
}

table tbody tr:nth-child(odd) {
    background: #0f0f0f;
}

table a {
    text-decoration: none;
    color: #a5a5a5;
}

.number-rank {
    text-align: center;
    padding-left: 25px;
}

.number-center {
    text-align: center;
}

.number-right {
    text-align: right;
}

.halo-rank {
    height: 25px;
    position: absolute;
    top: 6.5px;
    left: 5px;
}
/* TABLE */

#first {
    color: #ebd00a;
}

#second {
    color: #cacacc;
}

#third {
    color: #d98113;
}

p {
    color: #ff5c5c;
}

#no-players {
    margin: 50px 0;
    font-size: 45px;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
}

.butter-ranks {
    padding-left: 30px;
}

.exp-rank {
    height: 27px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.rank {
    margin-right: 2px;
}

.emblem {
    height: 30px;
    position: absolute;
    top: 4px;
    transition: 0.5s ease all;
}

.gamertag {
    margin-left: 40px;
}

.verified-icon {
    color: #23a523;
    font-size: 14px;
    cursor: default;
}

/*PAGINATION*/
#page-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

#pagination {
    background: #0a0a0a;
    border: 1px solid #5d5d5d;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    list-style: none;
    width: fit-content;
}

#pagination li {
    padding: 8px 18px;
    border-radius: 2px;
    transition: 0.5s ease all;
}

#pagination li:hover {
    background: #1c3363;
}

#pagination li.active {
    background: #3466d0;
}
/*PAGINATION*/

/*DONATOR*/
#donator-wrapper {
    padding: 2px;
    cursor: default;
    border-radius: 1px;
}

.icon {
    font-size: 15px;
    cursor: pointer;
    padding: 3px;
    transition: 0.5s ease all;
}

.diamond-donator {
    color: white;
    animation: glow 1s ease-in-out infinite alternate;
    font-weight: bold;
}

.fire-donator {
    animation: burn 0.9s ease-in-out infinite alternate;
    color: #f17821;
    font-weight: bold;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
}

.rgb-donator {
    font-weight: bold;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
}

.icon:hover {
    filter: brightness(0.8);
}

.icon.twitch {
    color: #9257ff;
}

.icon.youtube {
    color: #ff3a30;
}

.icon.twitter {
    color: #55acee;
}

.icon.mixer {
    color: #1fbaed;
}

.glow {
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #415ce3, 0 0 8px #415ce3, 0 0 10px #415ce3, 0 0 12px #415ce3, 0 0 14px #415ce3;
  }
  to {
    text-shadow: 0 0 6px #fff, 0 0 8px #4de6ff, 0 0 10px #4de6ff, 0 0 12px #4de6ff, 0 0 14px #4de6ff, 0 0 16px #4de6ff, 0 0 18px #4de6ff;
  }
}
/*DONATOR*/

/*ADDS*/
.ad-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: #1c1c1c;
    position: relative;
    width: 100%;
    height: 90px;
    display: none;
}

.ad-wrapper:after {
    content: "Ad space!";
    position: absolute;
    margin: 28px 0;
    font-size: 22px;
    font-weight: bold;
    z-index: 1;
}

.ad-wrapper ins {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/*ADDS*/


/*FIRE*/
.fire {
    color: #ffaeae;
    animation: burn 1s ease-in-out infinite alternate;
}

.burn {
    color: #ffaeae;
    animation: burn .65s ease-in-out infinite alternate;
}

@keyframes burn
{
    0% {
        text-shadow: 0 0 10px #fefcc9, 5px -5px 15px #feec85, -10px -10px 4px #ffae34, 10px 6px 10px #ec760c, -12px 3px -5px #cd4606, 11px -40px 35px #973716, 10px 6px 10px #451b0e;
    }
    100% {
        text-shadow: 0 0 10px #fefcc9, 5px -5px 8px #fefcc9, -10px -10px 8px #feec85, 11px 6px 6px #ffae34, -5px 11px 12px #ec760c, 0 -15px 5px #cd4606, 5px -1px 11px #973716;
    }
}
/*FIRE*/
