/* Mobile Styles */
/*@media only screen and (max-width: 1000px) {*/
    /*body {*/
        /*width: 100vw;*/
    /*}*/

    /*#wrapper {*/
        /*flex-direction: column;*/
        /*width: 125% !important;*/
        /*transform: scale(0.75);*/
        /*transition: transform ease 0.5s;*/
        /*transform-origin: top;*/
    /*}*/

    /*#right-wrapper {*/
        /*width: 421px;*/
        /*margin: 15px auto !important;*/
    /*}*/

    /*#left-wrapper {*/
        /*margin: 0 auto;*/
    /*}*/

    /*#search {*/
        /*width: 215px !important;*/
        /*height: 35px;*/
    /*}*/
/*}*/

#home-link {
    font-family: 'Rajdhani', 'Roboto', sans-serif;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#input-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 0;
    background: #171717;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.8), 0 3px 24px rgba(0, 0, 0, 1);
    margin-bottom: 20px;
}

h2 {
    margin: 0 10px;
}

input {
    width: 300px;
}

h1 {
    text-align: center;
}

#wrapper {
    display: flex;
    width: calc(100vw - 200px);
}

#left-wrapper {
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right-wrapper {
    background: #0b0b0b;
    margin: 10px 10px 0 10px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.8), 0 3px 24px rgba(0, 0, 0, 1);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 449px;
}

/*SERVICE RECORD*/
#service-record {
    display: flex;
    cursor: pointer;
    align-items: center;
    background: #20457c;
    width: 440px;
    margin: 10px 0;
    justify-content: space-between;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.8), 0 3px 24px rgba(0, 0, 0, 1);
}

#player-container {
    display: flex;
    align-items: center;
}

#emblem {
    height: 63px;
    margin: 7px 10px;
}

#player-container h6 {
    margin: 0;
    font-size: 23px;
}

#service-container {
    display: flex;
    align-items: center;
    background: #0d2441;
    padding: 0 4px;
    height: 77px;
}

#service-container h6 {
    font-size: 40px;
}

#rank {
    height: 45px;
    margin: 10px 3px;
}
/*SERVICE RECORD*/

/*PLAYER DETAILS*/
#player-details {
    background: #0b0b0b;
    border-radius: 2px;
    width: 440px;
    padding-bottom: 20px;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.8), 0 3px 24px rgba(0, 0, 0, 1);
}

#player-details h2 {
    padding: 12px 0;
}

#exp {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    border-top: 1px solid #1e1e1e;
    border-bottom: 1px solid #1e1e1e;
    padding: 10px 0;
}

#playtime {
    font-size: 15px;
    white-space: nowrap;
}

.stat-container {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.stat-item {
    background: #202020;
    padding: 8px 7px;
    border-radius: 4px;
    width: 115px;
}

#playtime-item {
    width: 123px;
}

.stat-item div:first-child {
    font-weight: bold;
    margin-bottom: 5px;
    color: #c2c1c1;
}

.stat-item div:nth-child(2) {
    font-weight: bold;
    font-size: 19px;
}
/*PLAYER DETAILS*/

/*HALO RANKS*/
#right-wrapper div {
    flex: 0 0 33%;
    position: relative;
}

#right-wrapper h5 {
    margin: 15px 0;
    max-height: 15px;
}

#right-wrapper h3 {
    font-size: 70px;
    margin: 0;
    position: relative;
    z-index: 1;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
}

#right-wrapper img {
    opacity: 0.25;
    bottom: 0;
    right: 0;
    height: 110px;
    position: absolute;
    top: 57%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
}
/*HALO RANKS*/

/*PRIVATE PROFILE*/
#private-tutorial {
    height: 255px;
    border: white solid 2px;
    cursor: pointer;
}
/*PRIVATE PROFILE*/

/* OVERLAY */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 100vh;
    background: #000000c7;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    z-index: 1;
}

#overlay.active {
    display: flex;
}

#overlay img {
    animation: uploadModalBounce .4s linear;
    height: 400px;
}
/* OVERLAY */

@keyframes uploadModalBounceTransition {
    0% {
        -webkit-transform: translateZ(0) scale(.99);
        transform: translateZ(0) scale(.99)
    }

    50% {
        -webkit-transform: translateZ(0) scale(1.005);
        transform: translateZ(0) scale(1.005)
    }

    to {
        -webkit-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1)
    }
}

@keyframes uploadModalBounce {
    0% {
        -webkit-transform: translateZ(0) scale(.99);
        transform: translateZ(0) scale(.99)
    }

    15%,to {
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px
    }

    33.3334% {
        -webkit-transform: translateZ(0) scale(1.005);
        transform: translateZ(0) scale(1.005)
    }

    54.1667% {
        -webkit-transform: translateZ(0) scale(.995);
        transform: translateZ(0) scale(.995)
    }

    70.8334%,to {
        -webkit-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1)
    }
}