/* Mobile Styles */
@media only screen and (max-width: 1000px) {
    body {
        height: 100% !important;
    }

    #wrapper {
        flex-direction: column;
        width: 125% !important;
        transform: scale(0.75);
        transition: transform ease 0.5s;
        transform-origin: top;
    }

    #left-wrapper {
        margin: 0 auto;
    }

    #right-wrapper {
        width: 422px;
        margin: 0 auto !important;
    }

    .percent {
        font-size: 12px !important;
    }
}

#input-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 0;
    background: #171717;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.8), 0 3px 24px rgba(0, 0, 0, 1);
    margin-bottom: 20px;
}

h2 {
    margin: 0 10px;
}

input {
    width: 300px;
}

h1 {
    text-align: center;
}

#wrapper {
    display: flex;
    width: calc(100vw - 200px);
    margin-bottom: 25px;
}

#left-wrapper {
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right-wrapper {
    background: #0b0b0b;
    margin: 10px 10px 0 10px;
    padding: 0 10px;
    border-radius: 2px;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.8), 0 3px 24px rgba(0, 0, 0, 1);
}

#player-details .percent {
    margin: 5px 0 0 0;
}

.percent {
    font-size: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    white-space: nowrap;
    color: #6e6e6e;
}

footer #leaderboard-button {
    display: none !important;
}

/*SERVICE RECORD*/
#service-record {
    display: flex;
    cursor: pointer;
    align-items: center;
    background: #20457c;
    width: 440px;
    margin: 10px 0;
    justify-content: space-between;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.8), 0 3px 24px rgba(0, 0, 0, 1);
}

#player-container {
    display: flex;
    align-items: center;
}

#emblem {
    height: 63px;
    margin: 7px 10px;
}

#player-container h6 {
    margin: 0;
    font-size: 23px;
}

#service-container {
    display: flex;
    align-items: center;
    background: #0d2441;
    padding: 0 4px;
    height: 77px;
}

#service-container h6 {
    font-size: 40px;
}

#rank {
    height: 45px;
    margin: 10px 3px;
}
/*SERVICE RECORD*/

/*PLAYER DETAILS*/
#player-details {
    background: #0b0b0b;
    border-radius: 2px;
    width: 440px;
    padding-bottom: 20px;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.8), 0 3px 24px rgba(0, 0, 0, 1);
    height: 100%;
}

#player-details-wrapper {
    display: flex;
    justify-content: space-between;
}

#profile-hits {
    font-family: 'Rajdhani', 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 7px 10px 10px 10px;
}

#player-details h2 {
    padding: 12px 0;
}

#exp {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    border-top: 1px solid #1e1e1e;
    border-bottom: 1px solid #1e1e1e;
    padding: 10px 0;
}

.playtime {
    font-size: 15px;
    white-space: nowrap;
}

.stat-container {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.stat-item {
    background: #202020;
    padding: 8px 7px;
    border-radius: 4px;
    width: 115px;
    height: fit-content;
    min-height: 62px;
}

#playtime-item {
    width: 123px;
}

.stat-item div:first-child {
    font-weight: bold;
    margin-bottom: 5px;
    color: #c2c1c1;
    white-space: nowrap;
}

.change {
    color: #2ce12c;
    font-size: 12px;
    position: absolute;
    margin-left: 5px;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.neg.change {
    color: #ff5d5d;
}
/*PLAYER DETAILS*/

/*HALO RANKS*/
#xbox-rank-wrapper, #pc-rank-wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#xbox-icon {
    color: #107C10;
    font-size: 17px;
    margin: 0 10px;
}

#pc-icon {
    color: #2a475e;
    font-size: 17px;
    margin: 0 10px;
}

#right-wrapper h4 {
    margin: 10px 0 5px;
    padding-bottom: 7px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    border-bottom: 1px solid #414141;
}

#xbox-rank-wrapper div {
    flex: 0 0 33%;
    position: relative;
}

#pc-rank-wrapper div {
    flex: 0 0 25%;
    position: relative;
}

#right-wrapper h5 {
    margin: 10px 0 10px;
    max-height: 15px;
    font-size: 12px;
}

#right-wrapper h3 {
    font-size: 50px;
    margin: 0;
    position: relative;
    z-index: 1;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
}

#right-wrapper img {
    opacity: 0.25;
    bottom: 0;
    right: 0;
    height: 74px;
    position: absolute;
    top: 65px;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
}
/*HALO RANKS*/

/*PRIVATE PROFILE*/
#private-tutorial {
    height: 255px;
    border: white solid 2px;
    cursor: pointer;
}

#private-message {
    text-align: center;
    line-height: 27px;
}
/*PRIVATE PROFILE*/

/*DONATOR*/
#donator-wrapper {
    background: #0b0b0b;
    border-radius: 2px;
    width: 440px;
    text-align: center;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.8), 0 3px 24px rgba(0, 0, 0, 1);
    height: 100%;
    font-size: 30px;
    padding: 10px 0;
    margin: 10px 0;
    display: none;
}

.icon {
    cursor: pointer;
    padding: 3px;
    transition: 0.5s ease all;
}

.icon:hover {
    filter: brightness(0.8);
    transform: scale(1.05);
}

.icon.twitch {
    color: #9257ff;
}

.icon.youtube {
    color: #ff3a30;
}

.icon.twitter {
    color: #55acee;
}

.icon.mixer {
    color: #1fbaed;
}

.diamond-donator {
    color: white;
    animation: glow 1s ease-in-out infinite alternate;
    font-weight: bold;
}

.fire-donator {
    animation: burn 0.9s ease-in-out infinite alternate;
    color: #f17821;
    font-weight: bold;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
}

.rgb-donator {
    font-weight: bold;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #415ce3, 0 0 8px #415ce3, 0 0 10px #415ce3, 0 0 12px #415ce3, 0 0 14px #415ce3;
  }
  to {
    text-shadow: 0 0 6px #fff, 0 0 8px #4de6ff, 0 0 10px #4de6ff, 0 0 12px #4de6ff, 0 0 14px #4de6ff, 0 0 16px #4de6ff, 0 0 18px #4de6ff;
  }
}
/*DONATOR*/

/*FIRE*/
.fire {
    color: #ffaeae;
    animation: burn 1s ease-in-out infinite alternate;
}

.burn {
    color: #ffaeae;
    animation: burn .65s ease-in-out infinite alternate;
}

@keyframes burn
{
    0% {
        text-shadow: 0 0 10px #fefcc9, 5px -5px 15px #feec85, -10px -10px 4px #ffae34, 10px 6px 10px #ec760c, -12px 3px -5px #cd4606, 11px -40px 35px #973716, 10px 6px 10px #451b0e;
    }
    100% {
        text-shadow: 0 0 10px #fefcc9, 5px -5px 8px #fefcc9, -10px -10px 8px #feec85, 11px 6px 6px #ffae34, -5px 11px 12px #ec760c, 0 -15px 5px #cd4606, 5px -1px 11px #973716;
    }
}
/*FIRE*/

/*SEASON*/
ol {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    font-family: 'Rajdhani', 'Roboto', sans-serif;
    color: #b4b4b4;
    justify-content: flex-end;
}

ol span {
    line-height: 33px;
}

.tab {
    cursor: pointer;
    margin: 4px 14px;
    padding: 2px 4px;
    transition: 0.5s ease all;
    border-bottom: 2px solid #191919;
}

.tab.active {
    border-bottom: solid 3px #4354a5;
}

.tab:hover, .operation-tab:hover {
    color: #ffffff;
}

.active-tab {
    display: block !important;
}

#all-wrapper, #season1-wrapper {
    display: none;
}
/*SEASON*/

