<h3 id="private-message">Your profile is private or this gamertag does not exist!</h3>

<img id="private-tutorial" src="https://i.gyazo.com/59b09559a6d64c5526524c441f82adf5.png" />

<p style="margin: 40px 30px;text-align: center;">Visit <a href="https://account.xbox.com/en-us/settings" target="_blank" style="color: #40f1f1;">https://account.xbox.com/en-us/settings</a> and make sure your "Game and App History" is set to "Everyone." This setting is a private toggle for your MCC multiplayer stats to be seen.</p>