{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server Error!</title>
    <base href='{{base_url}}' />

    <script>
        var globals = {};
        globals.base_url = '{{base_url}}';
    </script>

    <meta property="og:title" content="MCC Stats">
    <meta name="description" content="Halo MCC Stats! Check your profile. View the top Halo players on our leaderboards and your stats and rankings!">
    <%= require('html-loader!./partial/meta.html') %>
</head>
<body id="error">
    {% csrf_token %}
    <%= require('html-loader!./partial/header.html') %>

    <h1>500</h1>
    <p>Sorry for the inconvenience, please keep refreshing this page to fix the issue! Thank you!</p>

    <div id="overlay"></div>
</body>

</html>