{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About MCC Stats</title>

    <meta property="title" content="MCC Stats: Leaderboards, Ranks, and more!">
    <meta name="description" content="Halo MCC Stats! What is MCC Stats." />
    <%= require('html-loader!./partial/meta.html') %>
</head>
<body>
    {% csrf_token %}
    <%= require('html-loader!./partial/header.html') %>

    <div id="body-wrapper">
        <h1>MCC Stats</h1>
        <p> MCC Stats primary objective is to track and capture player stats on Halo: The Master Chief Collection and create leaderboards. The true
            vision of the website is to bring an incentive to play matchmaking in general and bring population back to all the rank playlist.
            As of March, unfortunately we are limited to what stats we can show and in what detail determined by what Halo Waypoint displays.
            If you would like to be updated on what is going on in Halo, have any suggestions, or have any questions please join our <a data-title="Discord" target="_blank" href="https://discord.gg/5AZMkEs">discord</a>.
        </p>

        <h2>How does it work?</h2>

        <p>To add your gamertag to the leaderboards simply just search your gamertag and if necessary follow the instructions if your profile is private.
            Please look through our rules below to stay on our leaderboards breaking any of these rules will result in a ban. </p>

        <h2>Integrity of MCC Stats Leaderboards</h2>

        <p>To protect the integrity of our leaderboards, we reserve the right to remove players from our database. If you believe a player is cheating, you can report them in the "report-a-cheater" channel. If the cheating isn't obvious/blatant, you'll need to provide some type of proof for said player to be removed from our leaderboards.</p>
        <p>While dodging -- quitting the build to avoid playing a matchmade game -- is an issue, we've concluded it will not be a bannable offense. If we penalized every dodger in the game, many of the players on our leaderboards wouldn't be there. Players at all levels dodge (or have dodged in the past) so we'll leave that up to 343industries to address.</p>
        <i>So what is a bannable offense?</i>

        <ol>
            <li><b>Boosting.</b> We're able to retrieve the data from your past 100 games. If you're consistently getting 0 kills per game (i.e. ending custom games/circle boosting in matchmaking) or getting hundreds/thousands of kills per game, we'll conclude that you're boosting. Don't boost.</li>
            <li><b>Deranking.</b> Purposely throwing games isn't cool. If you're caught doing this (via screenshots, clips, etc.) you may be removed from MCCstats.com</li>
            <li><b>DDoSing.</b> If you're still cheating to win in 2020, you should probably invest your time elsewhere. Cheaters will be removed from MCCstats.com with adequate proof.</li>
            <li><b>Scripting.</b> If you're using scrpts to perform button combinations (i.e. CronusMAX) you will be permanently banned from MCCstats.com.</li>
        </ol>

    </div>

        <div id="overlay"></div>
        <%= require('html-loader!./partial/footer.html') %>
</body>
</html>