{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MCC Stats: Stats, Leaderboards, and more!</title>
    <script>
        var globals = {};
        globals.base_url = '{{base_url}}';
        globals.gamertag = '{{gamertag}}';
        globals.recent_donations = {{recent_donations|safe}};
        globals.mccs = {{mccs.leaderboard|safe}};
        globals.playtime = {{playtime.leaderboard|safe}};
        globals.kills = {{kills.leaderboard|safe}};
        globals.deaths = {{deaths.leaderboard|safe}};
        globals.wins = {{wins.leaderboard|safe}};
        globals.losses = {{losses.leaderboard|safe}};
        globals.matches = {{matches.leaderboard|safe}};
        globals.kd = {{kd.leaderboard|safe}};
        globals.wl = {{wl.leaderboard|safe}};
        globals.assists = {{assists.leaderboard|safe}};
        globals.betrayals = {{betrayals.leaderboard|safe}};
        globals.headshots = {{headshots.leaderboard|safe}};

        globals.h3_recon_slayer = {{h3_recon_slayer.leaderboard|safe}};
        globals.h3_team_slayer = {{h3_team_slayer.leaderboard|safe}};
        globals.h3_team_hardcore = {{h3_team_hardcore.leaderboard|safe}};
        globals.h3_team_doubles = {{h3_team_doubles.leaderboard|safe}};
        globals.hce_hardcore_doubles = {{hce_hardcore_doubles.leaderboard|safe}};
        globals.h2c_team_hardcore = {{h2c_team_hardcore.leaderboard|safe}};
        globals.h2a_team_hardcore = {{h2a_team_hardcore.leaderboard|safe}};
        globals.halo_reach_team_hardcore = {{halo_reach_team_hardcore.leaderboard|safe}};
        globals.halo_reach_invasion = {{halo_reach_invasion.leaderboard|safe}};
        globals.h4_squad_battle = {{h4_squad_battle.leaderboard|safe}};
    </script>

    <meta property="title" content="MCC Stats: Leaderboards, Ranks, and more!">
    <meta name="description" content="Halo MCC Stats! Check your profile. View the top Halo players on our leaderboards and your stats and rankings!" />
    <%= require('html-loader!./partial/meta.html') %>
</head>
<body>
    {% csrf_token %}
    <%= require('html-loader!./partial/header.html') %>

    <div id="body-wrapper">
        <video crossorigin="anonymous" preload="auto" loop autoplay muted src="{% static 'bundle/assets/vg1.mp4' %}"></video>

        <div id="left-wrapper">
            <div id="content-wrapper">
                <h2 id="title">MCCSTATS<span>.COM</span></h2>

                <p>Stats & Leaderboards for Halo MCC</p>

                <div id="search-container">
                    <span id="search-icon"><i class="fas fa-search"></i></span>
                    <input id="search-input" name="q" value="" autocomplete="off" placeholder="Search">
                    <button id="search-submit">Enter</button>
                </div>

                <div>
                    <a class="icon-links tippy" id="leaderboard" data-title="Leaderboard"><i class="fas fa-trophy"></i></a>
                    <a class="icon-links tippy" id="discord" data-title="Discord" target="_blank" href="https://discord.gg/dNAuDQm"><i class="fab fa-discord"></i></a>
                    <a class="icon-links tippy" id="donate" data-title="Donate" href="/donate"><i class="fas fa-dollar-sign"></i></a>
                    <a class="icon-links tippy" id="twitter" data-title="Twitter" target="_blank" href="https://twitter.com/MccStats"><i class="fab fa-twitter"></i></a>
                </div>
            </div>

            <div id="population-wrapper"></div>

            <div id="lol-wrapper" style="max-height:500px; margin-bottom: 20px;display: none;">
                <h2>H3 MLG <span>Tournament</span></h2>
                <img src="https://img.redbull.com/images/c_fill,g_auto,w_950,h_633/q_auto,f_auto/redbullcom/2014/09/29/1331681707202_2/halo-3-heretic-map" />
                <p>

                    5$ <span>Entry</span>; 2.5k+ <span>Pot</span> <br>
                    <b style="font-size: 22px">Draft: 4/19 @ 7 PM (EST)<br>Tourny: 4/24 @ 12 PM (EST)</b>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLScosTk_W0ZGD2LW5eKq3GZxsyegHp9Jsv7cNP0FUGSySRNN_A/viewform" target="_blank">Sign Up</a>
                    <a href="https://docs.google.com/spreadsheets/d/1WhKVM9OfJJUD6ccRsuK1LpK1yeelGl62aGm1DB1bcas/edit#gid=1812706148" target="_blank">Participants</a>
                </p>
            </div>
            <div id="recent-donations-wrapper"></div>
        </div>

        <div id="right-wrapper">
            <h4>Season 7 <span>Leaderboards</span></h4>
            <ol>
                <li class="tab active" id="mccs-tab" data-type="mccs-wrapper"><b>MCCS</b></li>
                <span>|</span>
                <li class="tab" id="playtime-tab" data-type="playtime-wrapper"><b>Playtime</b></li>
                <span>|</span>
                <li class="tab" id="kills-tab" data-type="kills-wrapper"><b>Kills</b></li>
                <span>|</span>
                <li class="tab" id="deaths-tab" data-type="deaths-wrapper"><b>Deaths</b></li>
                <span>|</span>
                <li class="tab" id="wins-tab" data-type="wins-wrapper"><b>Wins</b></li>
                <li class="tab" id="losses-tab" data-type="losses-wrapper"><b>Losses</b></li>
                <span>|</span>
                <li class="tab" id="matches-tab" data-type="matches-wrapper"><b>Matches</b></li>
                <span>|</span>
                <li class="tab" id="kd-tab" data-type="kd-wrapper"><b>KD</b></li>
                <span>|</span>
                <li class="tab" id="wl-tab" data-type="wl-wrapper"><b>WL</b></li>
                <span>|</span>
                <li class="tab" id="matches-tab" data-type="assists-wrapper"><b>Assists</b></li>

                <li class="tab" id="matches-tab" data-type="betrayals-wrapper"><b>Betrayals</b></li>
                <span>|</span>
                <li class="tab" id="matches-tab" data-type="headshots-wrapper"><b>Headshots</b></li>
            </ol>

            <div class="tab-wrapper active-tab" id="mccs-wrapper"></div>
            <div class="tab-wrapper" id="playtime-wrapper"></div>
            <div class="tab-wrapper" id="kills-wrapper"></div>
            <div class="tab-wrapper" id="deaths-wrapper"></div>
            <div class="tab-wrapper" id="wins-wrapper"></div>
            <div class="tab-wrapper" id="losses-wrapper"></div>
            <div class="tab-wrapper" id="matches-wrapper"></div>
            <div class="tab-wrapper" id="assists-wrapper"></div>
            <div class="tab-wrapper" id="betrayals-wrapper"></div>
            <div class="tab-wrapper" id="headshots-wrapper"></div>
            <div class="tab-wrapper" id="kd-wrapper"></div>
            <div class="tab-wrapper" id="wl-wrapper"></div>

            <h4>Rank <span>Leaderboards</span></h4>
            <ol>
                <li class="tab active" id="h4-squad-tab" data-type="h4-squad-wrapper"><b>H4 Squad Battle</b></li>
                <span>|</span>
                <li class="tab" id="h3-recon-tab" data-type="h3-recon-wrapper"><b>H3 Recon</b></li>
                <span>|</span>
                <li class="tab" id="h3-slayer-tab" data-type="h3-slayer-wrapper"><b>H3 Slayer</b></li>

                <li class="tab" id="h3-dubs-tab" data-type="h3-dubs-wrapper"><b>H3 Dubs</b></li>
                <span>|</span>
                <li class="tab" id="h3-hardcore-tab" data-type="h3-hardcore-wrapper"><b>H3 Hardcore</b></li>
                <span>|</span>
                <li class="tab" id="h1-hardcore-tab" data-type="h1-hardcore-wrapper"><b>H1 Hardcore</b></li>
                <li class="tab" id="reach-invasion-tab" data-type="reach-invasion-wrapper"><b>Reach Invasion</b></li>
                <span>|</span>
                <li class="tab" id="reach-hardcore-tab" data-type="reach-hardcore-wrapper"><b>Reach Hardcore</b></li>
            </ol>
            <div>
                <div class="tab-wrapper active-tab" id="h4-squad-wrapper"></div>
                <div class="tab-wrapper" id="h3-recon-wrapper"></div>
                <div class="tab-wrapper" id="h3-slayer-wrapper"></div>
                <div class="tab-wrapper" id="h3-hardcore-wrapper"></div>
                <div class="tab-wrapper" id="h3-dubs-wrapper"></div>
                <div class="tab-wrapper" id="h2a-hardcore-wrapper"></div>
                <div class="tab-wrapper" id="h2c-hardcore-wrapper"></div>
                <div class="tab-wrapper" id="h1-hardcore-wrapper"></div>
                <div class="tab-wrapper" id="reach-invasion-wrapper"></div>
                <div class="tab-wrapper" id="reach-hardcore-wrapper"></div>
            </div>
{#            <div id="advertisement-wrapper">#}
{#                <h4>Tommy Kost: Halo 2/3 (MCC) Montage</h4>#}
{#                <iframe width="320" height="180" src="https://www.youtube.com/embed/92G8ELYQGUQ?autoplay=1&cc_load_policy=1&mute=1" allowfullscreen></iframe>#}
{#            </div>#}
        </div>
    </div>

    <section id="update-section">
        <div id="update-container">
            <h2>LATEST NEWS</h2>

            <div class="news-wrapper">
                <time>April 10th, 2021 12:00AM</time>
                <h1>SEASON <span>7 BEGINS</span></h1>

                <p>Season 7 starts the moment you first load your profile after April 10th, 2021 12:00AM US Eastern Time!</p>
                <p>Don't cheat we will be keeping a close eye on top 10s, If anything is fishy you will be banned during the duration of the season no questions ask. Grind Season 6 of MCC & Season 7 of MCCStats and have fun!</p>
                <p>Please read the <a href="/about"><b>RULES</b></a> before participating in season 7.</p>
                <p>Thank you and Good Luck grinding!</p>
            </div>

            <div class="news-wrapper">
                <time>February 2nd, 2021 11:59PM</time>
                <h1>SEASON <span>6 ENDS</span></h1>

                <p>Season 6 has concluded on February 2nd, 2021 11:59PM Standard Eastern Time! Thank you to those who participated and grinded this season.
                    Congratulations on those of you who were able to make it frontpage this season! </p>

                <p><b style="color: #595959">Note:</b> There will be a huge unban this week. I apologize to those who are upset about this, but unfortunately I am limited to the data I can view due to lack of API information that can really determine who has boosted/cheated/etc.
                    <br><br>This site original vision was to replicate CSRRanks for halo 4 and became so much more because of the support I have received to work on getting more data from waypoint and was a huge success even with the limited data I had to work with.
                    <br><br>Use this site to get easy access of your stats, match history, and ranks and others. I know the leaderboards will be contaminated with boosters but I still believe its existence to still be useful to know where you and others stand. Take the leaderboards with a grain of salt as it does not display their actual skill level. I hope everyone had a great New Years! Thanks again!</p>
            </div>

            <div class="news-wrapper">
                <time>January 2nd, 2021 12:00AM</time>
                <h1>SEASON <span>6 BEGINS</span></h1>

                <p>Season 6 starts the moment you first load your profile after January 2nd, 2020 12:00AM US Eastern Time!</p>
                <p>Please read the <a href="/about"><b>RULES</b></a> before participating in season 6.</p>
                <p>Thank you and Good Luck grinding!</p>
            </div>

            <div class="news-wrapper">
                <time>December 31st, 2020 12:00PM</time>
                <h1>Game History <span>Improvements</span></h1>

                <img src="https://i.gyazo.com/5b030015c13b2a9b219815a378907d9d.png" />

                <p>Slayer, Ctf, Koh, Oddball Images added to match history</p>
                <p>Match History now includes Oddball, King of the Hill and Capture the Flag games!</p>
            </div>

            <div class="news-wrapper">
                <time>October 25th, 2020 11:00PM</time>
                <h1>1<sup>st</sup> Place and New <span>Trophys!</span></h1>

                <img src="https://i.gyazo.com/4749d040a0f97df31e954efea8580a9d.png" />

                <p>Total 1st place stat has been added for players. This stat displays the amount of times a player has been MVP (on top of the leaderboard) of their matches.</p>
                <p>MVP (total first place) trophy has been added to the left panel.</p>
                <p>Sniper (total headshots) trophy has been added to the left panel.</p>
                <p>Total 50 trophy has been removed from the left panel.</p>
                <p>A new tier has been added to the trophy system.</p>
            </div>

            <div class="news-wrapper">
                <time>October 22nd, 2020 11:59PM</time>
                <h1>SEASON <span>5 ENDS</span></h1>

                <img src="https://i.gyazo.com/5a3267f9d52113953622660a1803eef4.png" />

                <p><b>Ranked Halo 3 Recon Slayer Leaderboards</b> has been added!</p>

                <p>Season 5 has concluded on September 1st, 2020 12:00AM Standard Eastern Time! Thank you to those who participated and grinded this season.
                    Season 6 will start after a week (or later) Season 6 official release date will be announced soon!
                    Congratulations on those of you who were able to make it frontpage this season! </p>
            </div>

            <div class="news-wrapper">
                <time>September 22nd, 2020 12:00AM</time>
                <h1>SEASON <span>5 BEGINS</span></h1>

                <p>Season 5 starts the moment you first load your profile after September 22nd, 2020 12:00AM US Eastern Time! </p>
                <p>Please read the <a href="/about"><b>RULES</b></a> before participating in season 5.</p>
                <p>Thank you and Good Luck grinding!</p>
            </div>

            <div class="news-wrapper">
                <time>September 1st, 2020 12:00AM</time>
                <h1>SEASON <span>4 ENDS</span></h1>

                <p>Season 4 has concluded on September 1st, 2020 12:00AM Standard Eastern Time! Thank you to those who participated and grinded this season.
                    Season 5 will start after a week (or later) Season 5 official release date will be announced soon!
                    Congratulations on those of you who were able to make it frontpage this season! </p>
            </div>

            <div class="news-wrapper">
                <time>August 1st, 2020 12:00AM</time>
                <h1>SEASON <span>4 BEGINS</span></h1>

                <p>Season 4 starts the moment you first load your profile after August 1st, 2020 12:00AM US Eastern Time! </p>
                <p>Please read the <a href="/about"><b>RULES</b></a> before participating in season 4.</p>
                <p>Thank you and Good Luck grinding!</p>
            </div>

            <div class="news-wrapper">
                <time>July 14th, 2020 12:00AM</time>

                <h1>RANK <span>RESET</span></h1>

                <img src="https://i.gyazo.com/cc70673131656ad4b8437868e5b3eacb.png" />

                <p>If you are reading this the ranks are now officially saved on mccstats! We are no longer updating the ranks in preparation of the reset that will happen very soon! <br><br>
                    Users can now view their previous ranks before reset under the <b>BEFORE RESET</b> tab on your profile. Leaderboards before reset were also saved and are also archived under the <b>BEFORE RESET</b> tab. <br><br>
                    Halo 3 PC is coming out soon so prepare to start grinding the leaderboard ranks for each playlist for both PC and XBOX.
                    <br><br>
                    Thanks again for the huge support and Good Luck grinding!
                </p>
            </div>

            <div class="news-wrapper">
                <time>July 10th, 2020 3:00PM</time>

                <h1>H3 PC TS Draft <span>Tournament</span></h1>

                <img src="https://static.giantbomb.com/uploads/original/0/7439/843787-halo3_mythic_packthumb800x800_3131042491_d4c229acdb_o.jpg" />

                <p style="text-align: center;"><a href="https://twitter.com/tommykost/status/1280553058141904899" target="_blank">Tommy Kost</a> is hosting a H3 Team Slayer draft tournament on the Xbox One. $5 entry fee.
                <br>Registration ends Friday, July 17th @ 11:59 PM EST.
                <br>Draft begins Sunday, July 19th @ 12 PM EST.
                <br>Tournament begins Saturday, July 25th @ 12 PM EST

                </p>
                <p>Sign-up can be fill out <a href="https://forms.gle/t9vV5hykkyrUjfgw9" target="_blank">here</a></p>
                <p>Participants can be viewed <a href="https://docs.google.com/spreadsheets/d/1WhKVM9OfJJUD6ccRsuK1LpK1yeelGl62aGm1DB1bcas/edit?usp=sharing" target="_blank">here</a></p>
                <p>Rules can be viewed <a href="https://docs.google.com/document/d/1PrJjyq7nUsBjPPbiKnFnzfP1vWmE4Cz3e33-fz4Tzik/edit?usp=sharing" target="_blank">here</a></p>
            </div>

            <div class="news-wrapper">
                <time>June 28th, 2020 11:59PM</time>
                <h1>SEASON <span>3 ENDS</span></h1>

                <p>Season 3 has concluded on June 28th 11:59 PM Standard Eastern Time! Thank you to those who participated and grinded this season.
                    Season 4 will start after a week (or later) Season 4 official release date will be announced soon!
                    Congratulations on those of you who were able to make it frontpage this season!</p>
            </div>

            <div class="news-wrapper">
                <time>May 28th, 2020 8:00AM</time>

                <h1>H3 TS Draft <span>Tournament</span></h1>

                <img src="https://www.mobygames.com/images/promo/original/1526500218-60324403.jpg" />

                <p><a href="https://twitter.com/tommykost/status/1265652045199085568?s=20" target="_blank">Tommy Kost</a> is hosting a H3 Team Slayer draft tournament on the Xbox One. $5 entry fee. Sign-ups end on June 7th @ 11:59 PM EST. There will be a draft and the tourney will take place shortly thereafter.</p>
                <p>Sign-up can be fill out <a href="https://forms.gle/NsTMeLUa8LGT8o7u6" target="_blank">here</a></p>
                <p>Participants can be viewed <a href="https://docs.google.com/spreadsheets/d/1eUnku7AQXn3bJSGKr90ldA5LDPrCel4jastvZQX5U6o/edit#gid=447253252" target="_blank">here</a></p>
                <p>Rules can be viewed <a href="https://challonge.com/6h4tmkkd" target="_blank">here</a></p>
            </div>

            <div class="news-wrapper">
                <time>May 28th, 2020 12:00AM</time>
                <h1>SEASON <span>3 BEGINS</span></h1>

                <p>Season 3 starts the moment you load your profile after May 28th, 2020 12:00AM US Eastern Time! With this new season the following new leaderboards will be added: <a href="/leaderboards/s3/assists" target="_blank">Assists</a>, <a href="/leaderboards/s3/betrayals" target="_blank">Betrayal</a>, and <a href="/leaderboards/s3/headshots" target="_blank">Headshot</a> season leaderboards.</p>
                <p><b>ATTENTION:</b> A change of the rules has been done for season 3 concerning dodging. Please read the <a href="/about"><b>RULES</b></a> before participating in season 3.</p>
                <p>Season 3 will end on June 28th, 11:59 PM 2020 US Eastern Time! Thank you and Good Luck grinding!</p>
            </div>

            <div class="news-wrapper">
                <time>May 25th, 2020 11:59PM</time>
                <h1>BIG <span>UPDATE</span></h1>

                <img src="https://i.gyazo.com/07a655874c834c030714330da29980c6.png" />

                <p>Halo stats are now accurately reporting your multiplayer stats! Custom game stats are no longer included! Update your profile now to view your current multiplayer stats!</p>
                <p><a href="/leaderboards/assists" target="_blank">Assists</a>, <a href="/leaderboards/betrayals" target="_blank">Betrayal</a> and <a href="/leaderboards/headshots" target="_blank">Headshot</a> leaderboards are now live and added to your profiles!</p>
            </div>

            <div class="news-wrapper">
                <time>May 20th, 2020 11:59PM</time>
                <h1>SEASON <span>2 ENDS</span></h1>

                <p>Season 2 has concluded on May 20th 11:59 PM Standard Eastern Time! Thank you to those who participated and grinded this season.
                    Season 3 will start after a week (or later) with updated rules on the ban system! Season 3 official release date will be announced soon!
                    Congratulations on those of you who were able to make it frontpage this season!</p>
            </div>

            <div class="news-wrapper">
                <time>May 20th, 2020 4:00PM</time>
                <h1>H2A <span>LEADERBOARDS</span></h1>

                <img src="https://i.gyazo.com/4b6a0ad2561eb5c4ffa5bd8a5af5f835.png" />

                <p>H2A was recently added to Halo Waypoint API, and now it is included into MCCStats profile page. Update your profile to view your rank and secure your leaderboard place!</p>
            </div>

            <div class="news-wrapper">
                <time>May 16th, 2020 12:00PM</time>
                <h1>GAME <span>HISTORY</span></h1>

                <img src="https://i.gyazo.com/c21f33035a7cb34ffd1da28711032cea.png" />

                <p>Implemented GAME HISTORY to show for individual profiles! Players are now able to track their session overview that is currently separated by an hour.
                    So if a player stops playing a game for an hour that concludes their session and a new one will be made in it's place! Match history displays the following:
                    halo game, map, kills, deaths, assists, KD, KAD.</p>
            </div>

            <a href="https://discord.com/channels/681510523249885184/681640578504851571" target="_blank" id="news-link">SHOW ALL NEWS</a>
        </div>

    </section>

    <div id="overlay"></div>

    <div id="tip-popup">
        <div id="tip-arrow"></div>
        <div id="tip-content"></div>
    </div>

    <%= require('html-loader!./partial/footer.html') %>
</body>
</html>