{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MCC Stats</title>
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'bundle/assets/whey2ez/whey2ez.ico' %}" />
    <script>
        var globals = {};
        globals.base_url = '{{base_url}}';
        globals.leaderboard = {{leaderboard|safe}};
    </script>
</head>
<body>
    {% csrf_token %}
    <div id="input-wrapper">
        <a id="home-link" href="/">MCC Stats</a>
        <input id="search" autocomplete="off" />
    </div>

    <div id="leaderboard-wrapper">

    </div>
</body>
</html>