{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{gt}}'s Halo MCC Stats Profile</title>
    <script>
        var globals = {};
        globals.base_url = '{{base_url}}';
        globals.saved_ranks = {{saved_ranks|safe}};
        globals.old_saved_ranks = {{old_saved_ranks|safe}};
        globals.xbox_ranks = {{xbox_ranks|safe}};
        globals.pc_ranks = {{pc_ranks|safe}};
        globals.player = {{player|safe}};
        globals.leaderboard = {{leaderboard|safe}};
        globals.player_count = {{player_count}}
        globals.gamertag = '{{gt}}';
    </script>

    <meta property="og:title" content="{{ gt }}'s MCC Stats Profile">
    <meta name="description" content="View {{gt}}'s Halo MCC career stats, progress and leaderboard rankings.">

    <%= require('html-loader!./partial/meta.html') %>
</head>
<body>
    {% csrf_token %}

    <%= require('html-loader!./partial/header.html') %>

    <div id="body-wrapper">
        <div id="wrapper">
            <div id="left-wrapper">
                <div id="service-record"></div>
                <div id="donator-wrapper">
                    <div id="lol-wrapper" style="max-height:500px; margin-bottom: 20px;">
                        <h2>H3 MLG <span>Tournament</span></h2>
                        <img src="https://img.redbull.com/images/c_fill,g_auto,w_950,h_633/q_auto,f_auto/redbullcom/2014/09/29/1331681707202_2/halo-3-heretic-map" />
                        <p>

                            5$ <span>Entry</span>; 2.5k+ <span>Pot</span> <br>
                            <b style="font-size: 22px">Draft: 4/19 @ 7 PM (EST)<br>Tourny: 4/24 @ 12 PM (EST)</b>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScosTk_W0ZGD2LW5eKq3GZxsyegHp9Jsv7cNP0FUGSySRNN_A/viewform" target="_blank">Sign Up</a>
                            <a href="https://docs.google.com/spreadsheets/d/1WhKVM9OfJJUD6ccRsuK1LpK1yeelGl62aGm1DB1bcas/edit#gid=1812706148" target="_blank">Participants</a>
                        </p>
                    </div>
                </div>
                <div id="player-details"></div>
            </div>
            <div id="right-wrapper">
                <div id="stats-wrapper"></div>
                <div id="rank-wrapper">
                    <h4>
                        <span class="halo-rank-title" style="line-height: 30px;">
                            <img src="/templates/bundle/assets/ranks/general.png">
                            All Ranks
                        </span>

                        <span class="xbox-rank-title" style="display: none"><span id="xbox-icon"><i class="fab fa-xbox"></i> </span>Xbox Ranks</span>

                        <ol>
                            <li class="tab active" id="current-ranks-tab" data-type="current-ranks-wrapper"><b>Current</b></li>
                            <span>|</span>
                            <li class="tab" id="prev-ranks-tab" data-type="prev-ranks-wrapper"><b>Before Reset</b></li>
                        </ol>
                    </h4>

                    <div id="current-ranks-wrapper" class="tab-wrapper active-tab" style="height: 400px">
                        <div id="xbox-rank-wrapper" class="rank-wrapper"></div>
                        <h4 style="display: none"><span id="pc-icon"><i class="fab fa-steam"></i></span> PC Ranks<span class="waypoint">Waypoint: <span class="{{ waypoint }}">{{ waypoint }}</span></span></h4>
                        <div id="pc-rank-wrapper" class="rank-wrapper" style="display: none"></div>
                    </div>

                    <div id="prev-ranks-wrapper" class="tab-wrapper">
                        <div id="prev-xbox-rank-wrapper" class="rank-wrapper"></div>
                        <h4><span id="pc-icon"><i class="fab fa-steam"></i></span> PC Ranks<span class="waypoint">Waypoint: <span class="{{ waypoint }}">{{ waypoint }}</span></span></h4>
                        <div id="prev-pc-rank-wrapper" class="rank-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="file-share-wrapper">
            <ol>
                <li class="tab active" id="matches-tab" data-type="matches-wrapper"><b>Matches</b></li>
                <span>|</span>
                <li class="tab" id="fileshare-tab" data-type="fileshare-wrapper"><b>Fileshare</b></li>
            </ol>

            <div id="matches-wrapper" class="tab-wrapper active-tab">
                <h2>Matches</h2>
                <i style="font-size: 70px;margin: 0 auto;text-align: center;display: block;width: fit-content;color: #5656f1;padding: 50px 0;" class="fas fa-circle-notch fa-spin"></i>
            </div>

            <div id="fileshare-wrapper" class="tab-wrapper">
                <h2>File Share</h2>
                <div id="file-share-container"></div>
                <div id="show-all">Show all</div>
            </div>
        </div>
    </div>

    <div id="overlay"></div>

    <div id="tip-popup">
        <div id="tip-arrow"></div>
        <div id="tip-content"></div>
    </div>

    <%= require('html-loader!./partial/footer.html') %>
{#    <iframe src="https://player.twitch.tv/?channel=slimhaley&volume=0.11" frameborder="0" allowfullscreen="true" scrolling="no" height="500" width="500"></iframe>#}
</body>
</html>