{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{gt}}</title>
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'bundle/assets/whey2ez/whey2ez.ico' %}" />
    <script>
        var globals = {};
        globals.base_url = '{{base_url}}';
        globals.ranks = {{ranks|safe}};
        globals.player = {{player|safe}};
        globals.gamertag = '{{gt}}';
    </script>

    <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>
<body>
    {% csrf_token %}

    <%= require('html-loader!./partial/header.html') %>

    <div id="wrapper">
        <div id="left-wrapper">
            <div id="service-record"></div>
            <div id="player-details"></div>
        </div>
        <div id="right-wrapper"></div>
    </div>

    <div id="overlay"></div>
</body>
</html>