{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timers</title>

    <script>
        var globals = {};
        globals.handlebars = '{{ handlebars }}';
        globals.timers = {{ timers|safe }};
    </script>

    <meta property="title" content="MCC Stats: Halo Radar & MLG Weapon Respawn Timers.">
    <meta name="description" content="Halo MCC Stats! Halo: Reach, Halo 1, Halo 2, Halo 3, Halo 4 radar weapon respawn timers." />
    <%= require('html-loader!./partial/meta.html') %>
</head>
<body>
    {% csrf_token %}
    <%= require('html-loader!./partial/header.html') %>

    <div id="body-wrapper">

    </div>

    <div id="overlay"></div>
    <%= require('html-loader!./partial/footer.html') %>
</body>
</html>