{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timers</title>

    <meta property="title" content="MCC Stats: Halo Radar & MLG Weapon Respawn Timers.">
    <meta name="description" content="Halo MCC Stats! Halo: Reach, Halo 1, Halo 2, Halo 3, Halo 4 radar weapon respawn timers." />
    <%= require('html-loader!./partial/meta.html') %>
</head>
<body>
    {% csrf_token %}
    <%= require('html-loader!./partial/header.html') %>

    <div id="body-wrapper">
        <h1>Radar Halo 3 Timers</h1>

        <div id="ad-wrapper">
        </div>

        <ul>
            <li class="tab all-tabs active">All</li>
            <li class="tab" data-type="assembly">Assembly</li>
            <li class="tab" data-type="blackout">Blackout</li>
            <li class="tab" data-type="citadel">Citadel</li>
            <li class="tab" data-type="cold-storage">Cold Storage</li>
            <li class="tab" data-type="construct">Construct</li>
            <li class="tab" data-type="epitaph">Epitaph</li>
            <li class="tab" data-type="foundry">Foundry</li>
            <li class="tab" data-type="ghost-town">Ghost Town</li>
            <li class="tab" data-type="heretic">Heretic</li>
            <li class="tab" data-type="high-ground">High Ground</li>
            <li class="tab" data-type="isolation">Isolation</li>
            <li class="tab" data-type="last-resort">Last Resort</li>
            <li class="tab" data-type="narrows">Narrows</li>
            <li class="tab" data-type="orbital">Orbital</li>
            <li class="tab" data-type="pit">Pit</li>
            <li class="tab" data-type="snowbound">Snowbound</li>
            <li class="tab" data-type="standoff">Standoff</li>
        </ul>

        <div class="power-wrapper">
            <div>
                <h3>Equipment</h3>
                <p class="description">All equipment have respawn timers of 1:00 on all maps.</p>
                <div class="flex-wrapper">
                    <div>
                        <img title="Halo 3 Bubble Shield" src="{% static 'bundle/assets/timer/bubble.png' %}">
                        <h4>Bubble Shield</h4>
                        <p class="description">1 minute</p>
                    </div>
                    <div>
                        <img title="Halo 3 Power Drain" src="{% static 'bundle/assets/timer/drainer.png' %}">
                        <h4>Power Drain</h4>
                        <p class="description">1 minute</p>
                    </div>
                    <div>
                        <img title="Halo 3 Regenerator" src="{% static 'bundle/assets/timer/regen.png' %}">
                        <h4>Regenerator</h4>
                        <p class="description">1 minute</p>
                    </div>
                </div>
            </div>

            <div>
                <h3>Power Ups</h3>
                <p class="description">All power ups have respawn timers of 3:00 on all radar maps.</p>
                <div class="flex-wrapper">
                    <div>
                        <img title="Overshield" src="{% static 'bundle/assets/timer/overshield.png' %}">
                        <h4>Overshield</h4>
                        <p class="description">3 minutes</p>
                    </div>
                    <div>
                        <img title="Camouflage" src="{% static 'bundle/assets/timer/camo.png' %}">
                        <h4>Camouflage</h4>
                        <p class="description">3 minutes</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="map-wrapper">
            <div class="tab-wrapper" id="assembly">
                <h3>Assembly</h3>
                <div class="flex-wrapper">
                    <div>
                        <img title="Rockets" src="{% static 'bundle/assets/timer/rocket.png' %}">
                        <h4>Rockets</h4>
                        <p class="description">2:00</p>
                    </div>
                    <div>
                        <img title="Hammer" src="{% static 'bundle/assets/timer/hammer.png' %}">
                        <h4>Hammer</h4>
                        <p class="description">3:00</p>
                    </div>
                </div>
            </div>
            <div class="tab-wrapper" id="blackout">
                <h3>Blackout</h3>
                <div class="flex-wrapper">
                    <div>
                        <img title="Sniper" src="{% static 'bundle/assets/timer/sniper.png' %}">
                        <h4>Sniper</h4>
                        <p class="description">3:00</p>
                    </div>
                    <div>
                        <img title="Shotgun" src="{% static 'bundle/assets/timer/shotgun.png' %}">
                        <h4>Shotgun</h4>
                        <p class="description">3:00</p>
                    </div>
                    <div>
                        <img title="Sword" src="{% static 'bundle/assets/timer/sword.png' %}">
                        <h4>Sword</h4>
                        <p class="description">2:30</p>
                    </div>
                </div>
            </div>
            <div class="tab-wrapper" id="citadel">
                <h3>Citadel</h3>
                <div class="flex-wrapper">
                    <div>
                        <img title="Sniper" src="{% static 'bundle/assets/timer/sniper.png' %}">
                        <h4>Sniper</h4>
                        <p class="description">3:00</p>
                    </div>
                    <div>
                        <img title="Rockets" src="{% static 'bundle/assets/timer/rocket.png' %}">
                        <h4>Rockets</h4>
                        <p class="description">2:00</p>
                    </div>
                    <div>
                        <img title="Shotgun" src="{% static 'bundle/assets/timer/shotgun.png' %}">
                        <h4>Shotgun</h4>
                        <p class="description">3:00</p>
                    </div>
                </div>
            </div>
            <div class="tab-wrapper" id="cold-storage">
                <h3>Cold Storage</h3>
                <div class="flex-wrapper">
                    <div>
                        <img title="Sniper" src="{% static 'bundle/assets/timer/sniper.png' %}">
                        <h4>Sniper</h4>
                        <p class="description">2:00</p>
                    </div>
                    <div>
                        <img title="Rockets" src="{% static 'bundle/assets/timer/rocket.png' %}">
                        <h4>Rockets</h4>
                        <p class="description">2:00</p>
                    </div>
                    <div>
                        <img title="Shotgun" src="{% static 'bundle/assets/timer/shotgun.png' %}">
                        <h4>Shotgun</h4>
                        <p class="description">2:00</p>
                    </div>
                </div>
            </div>
            <div class="tab-wrapper" id="construct">
                <h3>Construct</h3>
                <div class="flex-wrapper">
                    <div>
                        <img title="Sniper" src="{% static 'bundle/assets/timer/sniper.png' %}">
                        <h4>Sniper</h4>
                        <p class="description">3:00</p>
                    </div>
                    <div>
                        <img title="Laser" src="{% static 'bundle/assets/timer/laser.png' %}">
                        <h4>Laser</h4>
                        <p class="description">2:00</p>
                    </div>
                    <div>
                        <img title="Sword" src="{% static 'bundle/assets/timer/sword.png' %}">
                        <h4>Sword</h4>
                        <p class="description">3:00</p>
                    </div>
                </div>
            </div>
            <div class="tab-wrapper" id="epitaph">
                <h3>Epitaph</h3>
                <div class="flex-wrapper">
                    <div>
                        <img title="Rockets" src="{% static 'bundle/assets/timer/rocket.png' %}">
                        <h4>Rockets</h4>
                        <p class="description">2:00</p>
                    </div>
                    <div>
                        <img title="Hammer" src="{% static 'bundle/assets/timer/hammer.png' %}">
                        <h4>Hammer</h4>
                        <p class="description">3:00</p>
                    </div>
                    <div>
                        <img title="Shotgun" src="{% static 'bundle/assets/timer/shotgun.png' %}">
                        <h4>Shotgun</h4>
                        <p class="description">2:00</p>
                    </div>
                </div>
            </div>
            <div class="tab-wrapper" id="foundry">
                <h3>Foundry</h3>
                <div class="flex-wrapper">
                    <div>
                        <img title="Sniper" src="{% static 'bundle/assets/timer/sniper.png' %}">
                        <h4>Sniper</h4>
                        <p class="description">2:00</p>
                    </div>
                    <div>
                        <img title="Rockets" src="{% static 'bundle/assets/timer/rocket.png' %}">
                        <h4>Rockets</h4>
                        <p class="description">2:00</p>
                    </div>
                    <div>
                        <img title="Shotgun" src="{% static 'bundle/assets/timer/shotgun.png' %}">
                        <h4>Shotgun</h4>
                        <p class="description">2:00</p>
                    </div>
                </div>
            </div>
            <div class="tab-wrapper" id="ghost-town">
                <h3>Ghost Town</h3>
                <div class="flex-wrapper">
                    <div>
                        <img title="Sniper" src="{% static 'bundle/assets/timer/sniper.png' %}">
                        <h4>Sniper</h4>
                        <p class="description">2:00</p>
                    </div>
                    <div>
                        <img title="Rockets" src="{% static 'bundle/assets/timer/rocket.png' %}">
                        <h4>Rockets</h4>
                        <p class="description">3:00</p>
                    </div>
                    <div>
                        <img title="Shotgun" src="{% static 'bundle/assets/timer/shotgun.png' %}">
                        <h4>Shotgun</h4>
                        <p class="description">3:00</p>
                    </div>
                </div>
            </div>
            <div class="tab-wrapper" id="heretic">
                <h3>Heretic</h3>
                <div class="flex-wrapper">
                    <div>
                        <img title="Sword" src="{% static 'bundle/assets/timer/sword.png' %}">
                        <h4>Sword</h4>
                        <p class="description">3:00</p>
                    </div>
                    <div>
                        <img title="Shotgun" src="{% static 'bundle/assets/timer/shotgun.png' %}">
                        <h4>Shotgun</h4>
                        <p class="description">2:00</p>
                    </div>
                </div>
            </div>
            <div class="tab-wrapper" id="high-ground">
                <h3>High Ground</h3>
                <div class="flex-wrapper">
                    <div>
                        <img title="Sniper" src="{% static 'bundle/assets/timer/sniper.png' %}">
                        <h4>Sniper</h4>
                        <p class="description">1:30</p>
                    </div>
                    <div>
                        <img title="Rockets" src="{% static 'bundle/assets/timer/rocket.png' %}">
                        <h4>Rockets</h4>
                        <p class="description">2:00</p>
                    </div>
                    <div>
                        <img title="Shotgun" src="{% static 'bundle/assets/timer/shotgun.png' %}">
                        <h4>Shotgun</h4>
                        <p class="description">1:30</p>
                    </div>
                    <div>
                        <img title="Laser" src="{% static 'bundle/assets/timer/laser.png' %}">
                        <h4>Laser</h4>
                        <p class="description">2:00</p>
                    </div>
                </div>
            </div>
            <div class="tab-wrapper" id="isolation">
                <h3>Isolation</h3>
                <div class="flex-wrapper">
                    <div>
                        <img title="Sniper" src="{% static 'bundle/assets/timer/sniper.png' %}">
                        <h4>Sniper</h4>
                        <p class="description">3:00</p>
                    </div>
                    <div>
                        <img title="Rockets" src="{% static 'bundle/assets/timer/rocket.png' %}">
                        <h4>Rockets</h4>
                        <p class="description">3:00</p>
                    </div>
                    <div>
                        <img title="Shotgun" src="{% static 'bundle/assets/timer/shotgun.png' %}">
                        <h4>Shotgun</h4>
                        <p class="description">30 secs</p>
                    </div>
                </div>
            </div>
            <div class="tab-wrapper" id="last-resort">
                <h3>Last Resort</h3>
                <div class="flex-wrapper">
                    <div>
                        <img title="Sniper" src="{% static 'bundle/assets/timer/sniper.png' %}">
                        <h4>Sniper</h4>
                        <p class="description">1:30</p>
                    </div>
                    <div>
                        <img title="Laser" src="{% static 'bundle/assets/timer/laser.png' %}">
                        <h4>Laser</h4>
                        <p class="description">2:00</p>
                    </div>
                    <div>
                        <img title="Shotgun" src="{% static 'bundle/assets/timer/shotgun.png' %}">
                        <h4>Shotgun</h4>
                        <p class="description">1:30</p>
                    </div>
                </div>
            </div>
            <div class="tab-wrapper" id="narrows">
                <h3>Narrows</h3>
                <div class="flex-wrapper">
                    <div>
                        <img title="Sniper" src="{% static 'bundle/assets/timer/sniper.png' %}">
                        <h4>Sniper</h4>
                        <p class="description">2:30</p>
                    </div>
                    <div>
                        <img title="Rockets" src="{% static 'bundle/assets/timer/rocket.png' %}">
                        <h4>Rockets</h4>
                        <p class="description">3:00</p>
                    </div>
                    <div>
                        <img title="Shotgun" src="{% static 'bundle/assets/timer/shotgun.png' %}">
                        <h4>Shotgun</h4>
                        <p class="description">2:00</p>
                    </div>
                </div>
            </div>
            <div class="tab-wrapper" id="orbital">
                <h3>Orbital</h3>
                <div class="flex-wrapper">
                    <div>
                        <img title="Sniper" src="{% static 'bundle/assets/timer/sniper.png' %}">
                        <h4>Sniper</h4>
                        <p class="description">2:00</p>
                    </div>
                    <div>
                        <img title="Rockets" src="{% static 'bundle/assets/timer/rocket.png' %}">
                        <h4>Rockets</h4>
                        <p class="description">2:00</p>
                    </div>
                    <div>
                        <img title="Mauler" src="{% static 'bundle/assets/timer/mauler.png' %}">
                        <h4>Mauler</h4>
                        <p class="description">2:00</p>
                    </div>
                </div>
            </div>
            <div class="tab-wrapper" id="pit">
                <h3>Pit</h3>
                <div class="flex-wrapper">
                    <div>
                        <img title="Sniper" src="{% static 'bundle/assets/timer/sniper.png' %}">
                        <h4>Sniper</h4>
                        <p class="description">2:00</p>
                    </div>
                    <div>
                        <img title="Rockets" src="{% static 'bundle/assets/timer/rocket.png' %}">
                        <h4>Rockets</h4>
                        <p class="description">3:00</p>
                    </div>
                    <div>
                        <img title="Sword" src="{% static 'bundle/assets/timer/sword.png' %}">
                        <h4>Sword</h4>
                        <p class="description">2:00</p>
                    </div>
                    <div>
                        <img title="Shotgun" src="{% static 'bundle/assets/timer/shotgun.png' %}">
                        <h4>Shotgun</h4>
                        <p class="description">2:00</p>
                    </div>
                </div>
            </div>
            <div class="tab-wrapper" id="snowbound">
                <h3>Snowbound</h3>
                <div class="flex-wrapper">
                    <div>
                        <img title="Sniper" src="{% static 'bundle/assets/timer/sniper.png' %}">
                        <h4>Sniper</h4>
                        <p class="description">2:30</p>
                    </div>
                    <div>
                        <img title="Shotgun" src="{% static 'bundle/assets/timer/shotgun.png' %}">
                        <h4>Shotgun</h4>
                        <p class="description">3:00</p>
                    </div>
                </div>
            </div>
            <div class="tab-wrapper" id="standoff">
                <h3>Standoff</h3>
                <div class="flex-wrapper">
                    <div>
                        <img title="Laser" src="{% static 'bundle/assets/timer/laser.png' %}">
                        <h4>Laser</h4>
                        <p class="description">3:00</p>
                    </div>
                    <div>
                        <img title="Rockets" src="{% static 'bundle/assets/timer/rocket.png' %}">
                        <h4>Rockets</h4>
                        <p class="description">3:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay"></div>
    <%= require('html-loader!./partial/footer.html') %>
</body>
</html>