Html Webpack Plugin:
<pre>
  Error: Parse Error: <a href=https://docs.google.com/spreadsheets/d/1WhKVM9OfJJ  UD6ccRsuK1LpK1yeelGl62aGm1DB1bcas/edit#gid=85357192" target="_blank">Participa  nts</a> 
                          </p> 
                          <!-- 320x100 --> 
  {#                        <ins class="adsbygoogle"#} 
  {#                             style="display:inline-block;width:320px;height:  100px"#} 
  {#                             data-ad-client="ca-pub-1676522332244979"#} 
  {#                             data-ad-slot="9382180472"></ins>#} 
                      </div> 
                  </div> 
                  <div id="player-details"></div> 
              </div> 
              <div id="right-wrapper"> 
                  <div id="stats-wrapper"></div> 
                  <div id="rank-wrapper"> 
                      <h4> 
                          <span> 
                          <span id="xbox-icon"> 
                          <i class="fab fa-xbox"></i> 
                          </span> Xbox Ranks</span> 
                          <ol> 
                              <li class="tab active" id="current-ranks-tab" data  -type="current-ranks-wrapper"><b>Current</b></li> 
                              <span>|</span> 
                              <li class="tab" id="prev-ranks-tab" data-type="pre  v-ranks-wrapper"><b>Before Reset</b></li> 
                          </ol> 
                      </h4> 
                      <div id="current-ranks-wrapper" class="tab-wrapper active-  tab"> 
                          <div id="xbox-rank-wrapper" class="rank-wrapper"></div  > 
                          <h4><span id="pc-icon"><i class="fab fa-steam"></i></s  pan> PC Ranks<span class="waypoint">Waypoint: <span class="{{ waypoint }}">{{   waypoint }}</span></span></h4> 
                          <div id="pc-rank-wrapper" class="rank-wrapper"></div>                       </div> 
                      <div id="prev-ranks-wrapper" class="tab-wrapper"> 
                          <div id="prev-xbox-rank-wrapper" class="rank-wrapper">  </div> 
                          <h4><span id="pc-icon"><i class="fab fa-steam"></i></s  pan> PC Ranks<span class="waypoint">Waypoint: <span class="{{ waypoint }}">{{   waypoint }}</span></span></h4> 
                          <div id="prev-pc-rank-wrapper" class="rank-wrapper"></  div> 
                      </div> 
                  </div> 
              </div> 
          </div> 
          <div id="file-share-wrapper"> 
              <ol> 
                  <li class="tab active" id="matches-tab" data-type="matches-wra  pper"><b>Matches</b></li> 
                  <span>|</span> 
                  <li class="tab" id="fileshare-tab" data-type="fileshare-wrappe  r"><b>Fileshare</b></li> 
              </ol> 
              <div id="matches-wrapper" class="tab-wrapper active-tab"> 
                  <h2>Matches</h2> 
                  <i style="font-size: 70px;margin: 0 auto;text-align: center;di  splay: block;width: fit-content;color: #5656f1;padding: 50px 0;" class="fas fa  -circle-notch fa-spin"></i> 
              </div> 
              <div id="fileshare-wrapper" class="tab-wrapper"> 
                  <h2>File Share</h2> 
                  <div id="file-share-container"></div> 
                  <div id="show-all">Show all</div> 
              </div> 
          </div> 
      </div> 
      <div id="overlay"></div> 
      <div id="tip-popup"> 
          <div id="tip-arrow"></div> 
          <div id="tip-content"></div> 
      </div> 
      <footer> 
      <div id="footer-wrapper"> 
          <h3>© 2020 MCCSTATS<span>.COM</span></h3> 
          <div id="footer-button-wrapper"> 
              <button id="leaderboard-button">Leaderboards</button> 
              <button id="donate-button"><a id="donate-link" href="/donate">Dona  te</a></button> 
              <button><a href="/about">About Us</a></button> 
              <button><a href="/contact">Contact Us</a></button> 
              <button><a id="policy-link" href="/privacy-policy">Privacy Policy<  /a></button> 
              <button><a id="terms-link" href="/terms-conditions">Terms & Condit  ions</a></button> 
          </div> 
      </div> 
      <p>Halo: Master Chief Collection is a registered trademark of Microsoft St  udios. Game materials copyright Microsoft Studios.</p> 
  </footer> 
  {#    <iframe src="https://player.twitch.tv/?channel=slimhaley&volume=0.11" fr  ameborder="0" allowfullscreen="true" scrolling="no" height="500" width="500"><  /iframe>#} 
  <script type="text/javascript" src="/templates/bundle/js/vendors.js?5a18862844  dd7482cb2c"></script><script type="text/javascript" src="/templates/bundle/js/  profile.js?5a18862844dd7482cb2c"></script></body> 
  </html>
  
  - htmlparser.js:240 new HTMLParser
    [halo]/[html-minifier]/src/htmlparser.js:240:13
  
  - htmlminifier.js:966 minify
    [halo]/[html-minifier]/src/htmlminifier.js:966:3
  
  - htmlminifier.js:1326 exports.minify
    [halo]/[html-minifier]/src/htmlminifier.js:1326:16
  
  - index.js:316 
    [halo]/[html-webpack-plugin]/index.js:316:18
  
  - runMicrotasks
  
  - task_queues.js:97 processTicksAndRejections
    internal/process/task_queues.js:97:5
  
</pre>