<h1>Radar Halo 3 Timers</h1>

<div id="ad-wrapper">
</div>

<ul id="tabular-wrapper">
    <li class="tab active" data-type="assembly">Assembly</li>
    <li class="tab" data-type="blackout">Blackout</li>
    <li class="tab" data-type="citadel">Citadel</li>
    <li class="tab" data-type="cold-storage">Cold Storage</li>
    <li class="tab" data-type="construct">Construct</li>
    <li class="tab" data-type="epitaph">Epitaph</li>
    <li class="tab" data-type="foundry">Foundry</li>
    <li class="tab" data-type="ghost-town">Ghost Town</li>
    <li class="tab" data-type="guardian">Guardian</li>
    <li class="tab" data-type="heretic">Heretic</li>
    <li class="tab" data-type="high-ground">High Ground</li>
    <li class="tab" data-type="isolation">Isolation</li>
    <li class="tab" data-type="last-resort">Last Resort</li>
    <li class="tab" data-type="narrows">Narrows</li>
    <li class="tab" data-type="orbital">Orbital</li>
    <li class="tab" data-type="pit">Pit</li>
    <li class="tab" data-type="snowbound">Snowbound</li>
    <li class="tab" data-type="standoff">Standoff</li>
    <li class="tab" data-type="sandbox">Sandbox</li>
    <li class="tab" data-type="pantheon">Pantheon</li>
    <li class="tab" data-type="reminiscent">Reminiscent</li>
    <li class="tab" data-type="tundra">Tundra</li>
    <li class="tab" data-type="wasteland">Wasteland</li>
    <li class="tab" data-type="vessel">Vessel</li>
</ul>

<div class="power-wrapper">
    <div>
        <h3>Timing Weapons</h3>
        <p class="description">You must meet one of the conditions to successfully time weapons.</p>
        <ol>
            <li>The timer starts when Player stands still for <b>3 seconds</b>.</li>
            <li>The timer starts when Player dies with power weapon.</li>
            <li class="inner">i. If Player stood still prior before dieing this does not apply.</li>
            <li>The timer starts when Player stacks weapons.</li>
        </ol>

<!--{#                <div class="flex-wrapper">#}-->
<!--{#                    <div>#}-->
<!--{#                        <img title="Halo 3 Bubble Shield" src="/templates/bundle/assets/timer/bubble.png">#}-->
<!--{#                        <h4>Bubble Shield</h4>#}-->
<!--{#                        <p class="description">1 minute</p>#}-->
<!--{#                    </div>#}-->
<!--{#                    <div>#}-->
<!--{#                        <img title="Halo 3 Power Drain" src="/templates/bundle/assets/timer/drainer.png">#}-->
<!--{#                        <h4>Power Drain</h4>#}-->
<!--{#                        <p class="description">1 minute</p>#}-->
<!--{#                    </div>#}-->
<!--{#                    <div>#}-->
<!--{#                        <img title="Halo 3 Regenerator" src="/templates/bundle/assets/timer/regen.png">#}-->
<!--{#                        <h4>Regenerator</h4>#}-->
<!--{#                        <p class="description">1 minute</p>#}-->
<!--{#                    </div>#}-->
<!--{#                </div>#}-->
    </div>

<!--{#            <div>#}-->
<!--{#                <h3>Power Ups</h3>#}-->
<!--{#                <p class="description">All power ups have respawn timers of 3:00 on all radar maps.</p>#}-->
<!--{#                <div class="flex-wrapper">#}-->
<!--{#                    <div>#}-->
<!--{#                        <img title="Overshield" src="/templates/bundle/assets/timer/overshield.png">#}-->
<!--{#                        <h4>Overshield</h4>#}-->
<!--{#                        <p class="description">3 minutes</p>#}-->
<!--{#                    </div>#}-->
<!--{#                    <div>#}-->
<!--{#                        <img title="Camouflage" src="/templates/bundle/assets/timer/camo.png">#}-->
<!--{#                        <h4>Camouflage</h4>#}-->
<!--{#                        <p class="description">3 minutes</p>#}-->
<!--{#                    </div>#}-->
<!--{#                </div>#}-->
<!--{#            </div>#}-->
</div>

<div id="map-wrapper">
    <div class="tab-wrapper active-tab" id="assembly">
        <h3>Assembly</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Rockets" src="/templates/bundle/assets/timer/rocket.png">
                <h4>Rockets</h4>
                <p class="description">2:00</p>
            </div>
            <div>
                <img title="Hammer" src="/templates/bundle/assets/timer/hammer.png">
                <h4>Hammer</h4>
                <p class="description">3:00</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="blackout">
        <h3>Blackout</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Sniper" src="/templates/bundle/assets/timer/sniper.png">
                <h4>Sniper</h4>
                <p class="description">3:00</p>
            </div>
            <div>
                <img title="Shotgun" src="/templates/bundle/assets/timer/shotgun.png">
                <h4>Shotgun</h4>
                <p class="description">3:00</p>
            </div>
            <div>
                <img title="Sword" src="/templates/bundle/assets/timer/sword.png">
                <h4>Sword</h4>
                <p class="description">2:30</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="citadel">
        <h3>Citadel</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Sniper" src="/templates/bundle/assets/timer/sniper.png">
                <h4>Sniper</h4>
                <p class="description">3:00</p>
            </div>
            <div>
                <img title="Rockets" src="/templates/bundle/assets/timer/rocket.png">
                <h4>Rockets</h4>
                <p class="description">2:00</p>
            </div>
            <div>
                <img title="Shotgun" src="/templates/bundle/assets/timer/shotgun.png">
                <h4>Shotgun</h4>
                <p class="description">3:00</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="cold-storage">
        <h3>Cold Storage</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Sniper" src="/templates/bundle/assets/timer/sniper.png">
                <h4>Sniper</h4>
                <p class="description">2:00</p>
            </div>
            <div>
                <img title="Rockets" src="/templates/bundle/assets/timer/rocket.png">
                <h4>Rockets</h4>
                <p class="description">2:00</p>
            </div>
            <div>
                <img title="Shotgun" src="/templates/bundle/assets/timer/shotgun.png">
                <h4>Shotgun</h4>
                <p class="description">2:00</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="construct">
        <h3>Construct</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Sniper" src="/templates/bundle/assets/timer/sniper.png">
                <h4>Sniper</h4>
                <p class="description">3:00</p>
            </div>
            <div>
                <img title="Laser" src="/templates/bundle/assets/timer/laser.png">
                <h4>Laser</h4>
                <p class="description">2:00</p>
            </div>
            <div>
                <img title="Sword" src="/templates/bundle/assets/timer/sword.png">
                <h4>Sword</h4>
                <p class="description">3:00</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="epitaph">
        <h3>Epitaph</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Rockets" src="/templates/bundle/assets/timer/rocket.png">
                <h4>Rockets</h4>
                <p class="description">2:00</p>
            </div>
            <div>
                <img title="Hammer" src="/templates/bundle/assets/timer/hammer.png">
                <h4>Hammer</h4>
                <p class="description">3:00</p>
            </div>
            <div>
                <img title="Shotgun" src="/templates/bundle/assets/timer/shotgun.png">
                <h4>Shotgun</h4>
                <p class="description">2:00</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="foundry">
        <h3>Foundry</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Sniper" src="/templates/bundle/assets/timer/sniper.png">
                <h4>Sniper</h4>
                <p class="description">2:00</p>
            </div>
            <div>
                <img title="Rockets" src="/templates/bundle/assets/timer/rocket.png">
                <h4>Rockets</h4>
                <p class="description">2:00</p>
            </div>
            <div>
                <img title="Shotgun" src="/templates/bundle/assets/timer/shotgun.png">
                <h4>Shotgun</h4>
                <p class="description">2:00</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="guardian">
        <h3>Foundry</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Sniper" src="/templates/bundle/assets/timer/sniper.png">
                <h4>Sniper</h4>
                <p class="description">3:00</p>
            </div>
            <div>
                <img title="Hammer" src="/templates/bundle/assets/timer/hammer.png">
                <h4>Hammer</h4>
                <p class="description">3:00</p>
            </div>
            <div>
                <img title="Shotgun" src="/templates/bundle/assets/timer/shotgun.png">
                <h4>Shotgun</h4>
                <p class="description">3:00</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="ghost-town">
        <h3>Ghost Town</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Sniper" src="/templates/bundle/assets/timer/sniper.png">
                <h4>Sniper</h4>
                <p class="description">2:00</p>
            </div>
            <div>
                <img title="Rockets" src="/templates/bundle/assets/timer/rocket.png">
                <h4>Rockets</h4>
                <p class="description">3:00</p>
            </div>
            <div>
                <img title="Shotgun" src="/templates/bundle/assets/timer/shotgun.png">
                <h4>Shotgun</h4>
                <p class="description">3:00</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="heretic">
        <h3>Heretic</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Sword" src="/templates/bundle/assets/timer/sword.png">
                <h4>Sword</h4>
                <p class="description">3:00</p>
            </div>
            <div>
                <img title="Shotgun" src="/templates/bundle/assets/timer/shotgun.png">
                <h4>Shotgun</h4>
                <p class="description">2:00</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="high-ground">
        <h3>High Ground</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Sniper" src="/templates/bundle/assets/timer/sniper.png">
                <h4>Sniper</h4>
                <p class="description">1:30</p>
            </div>
            <div>
                <img title="Rockets" src="/templates/bundle/assets/timer/rocket.png">
                <h4>Rockets</h4>
                <p class="description">2:00</p>
            </div>
            <div>
                <img title="Shotgun" src="/templates/bundle/assets/timer/shotgun.png">
                <h4>Shotgun</h4>
                <p class="description">1:30</p>
            </div>
            <div>
                <img title="Laser" src="/templates/bundle/assets/timer/laser.png">
                <h4>Laser</h4>
                <p class="description">2:00</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="isolation">
        <h3>Isolation</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Sniper" src="/templates/bundle/assets/timer/sniper.png">
                <h4>Sniper</h4>
                <p class="description">3:00</p>
            </div>
            <div>
                <img title="Rockets" src="/templates/bundle/assets/timer/rocket.png">
                <h4>Rockets</h4>
                <p class="description">3:00</p>
            </div>
            <div>
                <img title="Shotgun" src="/templates/bundle/assets/timer/shotgun.png">
                <h4>Shotgun</h4>
                <p class="description">30 secs</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="last-resort">
        <h3>Last Resort</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Sniper" src="/templates/bundle/assets/timer/sniper.png">
                <h4>Sniper</h4>
                <p class="description">1:30</p>
            </div>
            <div>
                <img title="Laser" src="/templates/bundle/assets/timer/laser.png">
                <h4>Laser</h4>
                <p class="description">2:00</p>
            </div>
            <div>
                <img title="Shotgun" src="/templates/bundle/assets/timer/shotgun.png">
                <h4>Shotgun</h4>
                <p class="description">1:30</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="narrows">
        <h3>Narrows</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Sniper" src="/templates/bundle/assets/timer/sniper.png">
                <h4>Sniper</h4>
                <p class="description">2:30</p>
            </div>
            <div>
                <img title="Rockets" src="/templates/bundle/assets/timer/rocket.png">
                <h4>Rockets</h4>
                <p class="description">3:00</p>
            </div>
            <div>
                <img title="Shotgun" src="/templates/bundle/assets/timer/shotgun.png">
                <h4>Shotgun</h4>
                <p class="description">2:00</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="orbital">
        <h3>Orbital</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Sniper" src="/templates/bundle/assets/timer/sniper.png">
                <h4>Sniper</h4>
                <p class="description">2:00</p>
            </div>
            <div>
                <img title="Rockets" src="/templates/bundle/assets/timer/rocket.png">
                <h4>Rockets</h4>
                <p class="description">2:00</p>
            </div>
            <div>
                <img title="Mauler" src="/templates/bundle/assets/timer/mauler.png">
                <h4>Mauler</h4>
                <p class="description">2:00</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="pit">
        <h3>Pit</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Sniper" src="/templates/bundle/assets/timer/sniper.png">
                <h4>Sniper</h4>
                <p class="description">2:00</p>
            </div>
            <div>
                <img title="Rockets" src="/templates/bundle/assets/timer/rocket.png">
                <h4>Rockets</h4>
                <p class="description">3:00</p>
            </div>
            <div>
                <img title="Sword" src="/templates/bundle/assets/timer/sword.png">
                <h4>Sword</h4>
                <p class="description">2:00</p>
            </div>
            <div>
                <img title="Shotgun" src="/templates/bundle/assets/timer/shotgun.png">
                <h4>Shotgun</h4>
                <p class="description">2:00</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="snowbound">
        <h3>Snowbound</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Sniper" src="/templates/bundle/assets/timer/sniper.png">
                <h4>Sniper</h4>
                <p class="description">2:30</p>
            </div>
            <div>
                <img title="Shotgun" src="/templates/bundle/assets/timer/shotgun.png">
                <h4>Shotgun</h4>
                <p class="description">3:00</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="standoff">
        <h3>Standoff</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Laser" src="/templates/bundle/assets/timer/laser.png">
                <h4>Laser</h4>
                <p class="description">3:00</p>
            </div>
            <div>
                <img title="Rockets" src="/templates/bundle/assets/timer/rocket.png">
                <h4>Rockets</h4>
                <p class="description">3:00</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="sandbox">
        <h3>Sandbox</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Rockets" src="/templates/bundle/assets/timer/rocket.png">
                <h4>Rockets</h4>
                <p class="description">2:00</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="pantheon">
        <h3>Pantheon</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Sword" src="/templates/bundle/assets/timer/sword.png">
                <h4>Sword</h4>
                <p class="description">1:30</p>
            </div>
            <div>
                <img title="Rockets" src="/templates/bundle/assets/timer/rocket.png">
                <h4>Rockets</h4>
                <p class="description">2:30</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="reminiscent">
        <h3>Reminiscent</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Sniper" src="/templates/bundle/assets/timer/sniper.png">
                <h4>Sniper</h4>
                <p class="description">3:00</p>
            </div>
            <div>
                <img title="Shotgun" src="/templates/bundle/assets/timer/shotgun.png">
                <h4>Shotgun</h4>
                <p class="description">3:00</p>
            </div>
            <div>
                <img title="Hammer" src="/templates/bundle/assets/timer/hammer.png">
                <h4>Hammer</h4>
                <p class="description">3:00</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="tundra">
        <h3>Tundra</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Sniper" src="/templates/bundle/assets/timer/sniper.png">
                <h4>Sniper</h4>
                <p class="description">2:00</p>
            </div>
            <div>
                <img title="Mauler" src="/templates/bundle/assets/timer/mauler.png">
                <h4>Mauler</h4>
                <p class="description">1:30</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="wasteland">
        <h3>Wasteland</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Rockets" src="/templates/bundle/assets/timer/rocket.png">
                <h4>Rockets</h4>
                <p class="description">1:00</p>
            </div>
            <div>
                <img title="Sword" src="/templates/bundle/assets/timer/sword.png">
                <h4>Sword</h4>
                <p class="description">0:30</p>
            </div>
            <div>
                <img title="Shotgun" src="/templates/bundle/assets/timer/shotgun.png">
                <h4>Shotgun</h4>
                <p class="description">0:30</p>
            </div>
        </div>
    </div>
    <div class="tab-wrapper" id="vessel">
        <h3>Vessel</h3>
        <div class="flex-wrapper">
            <div>
                <img title="Sniper" src="/templates/bundle/assets/timer/sniper.png">
                <h4>Sniper</h4>
                <p class="description">3:00</p>
            </div>
            <div>
                <img title="Rockets" src="/templates/bundle/assets/timer/rocket.png">
                <h4>Rockets</h4>
                <p class="description">3:00</p>
            </div>
            <div>
                <img title="Shotgun" src="/templates/bundle/assets/timer/shotgun.png">
                <h4>Shotgun</h4>
                <p class="description">3:00</p>
            </div>
        </div>
    </div>
</div>