<link rel='shortcut icon' type='image/png' sizes="16x16" href="{% static 'bundle/assets/favicon/16x16.png' %}" />
<link rel='shortcut icon' type='image/png' sizes="32x32" href="{% static 'bundle/assets/favicon/32x32.png' %}" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta data-vm="true" name="theme-color" content="#131313">
{#<meta name="google-site-verification" content="8xM_jlSLkBIvz5ngNWS4-BBsW5TimSAlhmsvJXip5g4" />#}
{#<script data-ad-client="ca-pub-1676522332244979" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}